.tribe-common {
	/* -------------------------------------------------------------------------
	 * Button
	 * ------------------------------------------------------------------------- */

	button {
		background-color: transparent;
		border: none;

		&:hover,
		&:focus {
			background-color: transparent;
		}
	}

	/* -------------------------------------------------------------------------
	 *
	 * Button: Theme Overrides
	 *
	 * ------------------------------------------------------------------------- */

	/* -------------------------------------------------------------------------
	 * Theme Overrides - Twenty Seventeen
	 * ------------------------------------------------------------------------- */

	.tribe-theme-twentyseventeen & {

		button {

			&:hover,
			&:focus {
				background-color: transparent;
			}
		}
	}
}
