/* .tribe-common { */
	/* -----------------------------------------------------------------------------
	 *
	 * Layout: Global Content Container
	 *
	 * ----------------------------------------------------------------------------- */
/* } */
