.tribe-common {
	/* -------------------------------------------------------------------------
	 * SVG Icons
	 * ------------------------------------------------------------------------- */

	.tribe-common-svgicon--featured {
		background-image: svg-inline(featured);
	}
}
