.tribe-common {
	/* -----------------------------------------------------------------------------
	 *
	 * Tables
	 *
	 * ----------------------------------------------------------------------------- */

	/* -----------------------------------------------------------------------------
	 * Tables: Theme Overrides
	 * ----------------------------------------------------------------------------- */

	/* -----------------------------------------------------------------------------
	 * Theme Overrides - Enfold
	 * ----------------------------------------------------------------------------- */

	.tribe-theme-enfold & {

		th {
			letter-spacing: 0;
			text-transform: none;
		}
	}
}
