ol.form-fields
{
    margin: 0; 
    padding-left: 0;

    list-style: none;
}

.chzn-container
{
    display: block;
}

ul.ui-sortable li
{
    cursor: move;
}
ul.ui-sortable li:hover
{
    background: #ffffd8;
}

.ui-slider-handle
{
    z-index: 0 !important;
}

form.pods-manage .pods-field label
{
    display: inline-block;

    padding: 0 0 4px 2px; 

    cursor: pointer;
}

form.pods-manage .pods-field input
{
    display: block;

    width: 100%;
}

.pods-field textarea
{
    display: block;

    width: 100%;
}

form.pods-manage .pods-field textarea
{
    font-family: monospace;

    height: 100%;

    resize: none;
}

form.pods-manage .pods-field p.pods-field-comment
{
    font-size: .9em;
    font-style: italic;

    margin: 5px 0 0 2px !important; 

    color: #aaa;
}

form.pods-manage .pods-pick select
{
    display: block;

    min-width: 125px;
    padding: 4px;
}

form.pods-manage .pods-boolean
{
    position: relative;

    cursor: pointer;
}
form.pods-manage .pods-boolean input
{
    position: absolute;
    top: 10px;
    left: 2px;

    display: block;

    width: auto; 
    height: auto;
    margin: 1px 7px 0 0;
    padding: 0;
}
form.pods-manage .pods-boolean label
{
    margin-left: 20px;
}

form.pods-manage .pods-file label
{
    padding-bottom: 8px;
}

form.pods-manage .pods-file input
{
    display: none;
}

form.pods-manage ul.pods-files
{
    margin: 0;
    padding: 0; 

    list-style: none;

    border: 1px solid #dfdfdf;
    border-bottom: 0;
    border-radius: 3px;
    background: #fbfbfb;
}
form.pods-manage ul.pods-files li
{
    position: relative;

    margin: 0;
    padding-bottom: 10px; 

    border-bottom: 1px solid #dfdfdf;
    background: #fff;
}
form.pods-manage ul.pods-files li span
{
    display: inline-block;
    float: none;
}
form.pods-manage ul.pods-files li span.pods-file-reorder
{
    position: absolute;
    top: 15px;
    left: 3px;

    width: 30px;
}
form.pods-manage ul.pods-files li span.pods-file-reorder img
{
    display: block; 

    cursor: move;
}
form.pods-manage ul.pods-files li span.pods-file-thumb
{
    position: absolute;
    top: 2px;
    left: 35px;

    width: 45px;
}
form.pods-manage ul.pods-files li span.pods-file-thumb .pinkynail
{
    float: none;

    max-width: 40px !important;
    max-height: 40px !important; 
    margin: 0;
}
form.pods-manage ul.pods-files li span.pods-file-name
{
    padding: 11px 35px 0 85px;
}
form.pods-manage ul.pods-files li span.pods-file-remove
{
    position: absolute;
    top: 10px;
    right: 10px;

    width: 25px;
}
form.pods-manage ul.pods-files li span.pods-file-remove img
{
    display: block; 

    cursor: pointer;
}

.plupload-queue
{
    width: 250px;
}

.plupload-progress
{
    position: relative;
}
.plupload-progress .progress-bar
{
    position: absolute;

    width: 0;
    height: 14px;
    margin-left: 10px; 

    background: #4d4d4d;
}
.plupload-progress .file-name
{
    vertical-align: top;
}

.pods-inline-files .plupload-progress
{
    width: 150px;
}

.pods-inline-files li
{
    margin-top: 10px;
}
.pods-inline-files li .file-name
{
    vertical-align: top !important;
}
.pods-inline-files li .remove
{
    cursor: pointer;
}

form.pods-manage .pods-pick-values
{
    overflow: auto;

    min-width: 125px;
    padding: 2px 0; 

    border: 1px solid #dfdfdf;
    border-radius: 3px;
    background: #fff;
}
form.pods-manage .pods-pick-values ul
{
    overflow: auto;
}
form.pods-manage .pods-pick-values li
{
    line-height: 1em;

    margin: 0;
    padding: 3px 6px 2px; 

    border-bottom: 1px solid #f4f4f4;
}
form.pods-manage .pods-pick-values li:nth-child(even)
{
    background: #fcfcfc;
}
form.pods-manage .pods-pick-values label
{
    padding-top: 3px; 
    padding-bottom: 3px;
}
form.pods-manage .pods-pick-values li:last-of-type
{
    border-bottom: 0;
}
form.pods-manage .pods-pick-values li .pods-field
{
    padding: 3px 0 2px;
}
form.pods-manage .pods-pick-values li .pods-boolean input
{
    top: 5px;
}
form.pods-manage .pods-pick-values li:hover
{
    background: #ffffd8;
}

form.pods-manage select.pods-pick-multi
{
    height: auto !important;
}

form.pods-manage .pods-field
{
    clear: both;

    padding: 10px 0;
}

p.pods-add-file
{
    clear: both;

    padding: 10px 0;
}

form.pods-manage .pods-textfield input,
.pods-textarea textarea
{
    width: 100%;
}

form.pods-manage .pods-textfield input
{
    padding: 5px 7px;

    color: #808080;
}

form.pods-manage .pods-textarea textarea
{
    padding: 5px 7px;

    resize: vertical; 

    color: #808080;
}

form.pods-manage .pods-textfield input:focus,
form.pods-manage .pods-textarea textarea:focus
{
    color: #000; 
    border-color: #a0a0a0;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}

form.pods-manage .pods-date input
{
    min-width: 125px;
}

.pods-number input
{
    min-width: 125px;
}

form.pods-manage .pods-date input.pods-date-field.hasDatepicker
{
    width: 150px; 
    padding-top: 6px !important;
    padding-left: 25px !important;

    cursor: pointer;

    background: #fff url(../images/calendar16.png) no-repeat 5px 5px;
}

form.pods-manage ul.ui-sortable li:hover
{
    cursor: move; 

    background: #ffffd8;
}

form.pods-manage .pods-slider-field
{
    margin: 10px 0;
}

form.pods-manage .pods-slider-field-display
{
    padding: 10px 0;
}

/**
 * Plupload queue
 */
table.plupload-queue tr.hide
{
    display: none;
}

table.plupload-queue td.progress
{
    width: 175px;
}
table.plupload-queue td.progress .progress-bar
{
    width: 0;
    height: 14px;

    background: black;
}

tr.form-field .pods-boolean input
{
    width: 20%;
}
