/* === COLORS === */
/* === GRADIENTS === */
/* === BUTTONS === */
/* === BORDER RADIUS === */
/* === VISIBILITY === */
/*
	Holds all the base form Sass
*/
/* === Loop Rows === */
.pods-form-ui-row-type-repeat .pods-repeating-field
{
    overflow: hidden;

    min-width: 390px; 
    margin: 0 0 15px 0;
    padding: 8px 0;

    border: 1px solid #dfdfdf;
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
            border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
            border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
            border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
            border-bottom-left-radius: 3px;
    background: #fff;
}
.pods-form-ui-row-type-repeat .pods-repeating-field .pods-single-repeat
{
    display: block;
    clear: both;
    overflow: hidden;

    margin: 5px 0;
    padding: 5px 10px; 

    border-bottom: 1px solid #efefef;
}
.pods-form-ui-row-type-repeat .pods-repeating-field .pods-single-repeat:last-of-type
{
    margin-bottom: 0; 
    padding-bottom: 0;

    border-bottom: 0 none;
}
.pods-form-ui-row-type-repeat .pods-repeating-field .pods-single-repeat:first-of-type
{
    margin-top: 0; 
    padding-top: 0;
}
.pods-form-ui-row-type-repeat .pods-repeating-field .pods-single-repeat .CodeMirror
{
    width: 100% !important;
}
.pods-form-ui-row-type-repeat .pods-repeating-field .pods-single-repeat textarea
{
    width: 100%;
}
.pods-form-ui-row-type-repeat .pods-repeating-field .pods-single-repeat select
{
    margin-top: 5px;
}
.pods-form-ui-row-type-repeat .pods-repeating-field .pods-repeat-handle
{
    font-size: 25px;

    display: inline-block;
    float: left;
    overflow: hidden;

    width: 30px;
    height: 30px;
    margin-top: 2px;

    cursor: move;
    white-space: nowrap;

    color: rgba(125, 125, 125, .5);
}
.pods-form-ui-row-type-repeat .pods-repeating-field .pods-repeat-handle:hover
{
    color: #7d7d7d;
}
.pods-form-ui-row-type-repeat .pods-repeating-field .pods-repeat-name
{
    float: left; 

    width: 85%;
}
.pods-form-ui-row-type-repeat .pods-repeating-field .pods-repeat-delete
{
    font-size: 25px; 

    float: right;

    width: 25px;
    height: 25px;
    margin-top: 5px;

    color: rgba(139, 0, 0, .3);
}
.pods-form-ui-row-type-repeat .pods-repeating-field .pods-repeat-delete:hover
{
    cursor: pointer; 

    color: rgba(139, 0, 0, .8);
}

.pods-form-ui-row-type-repeat .pods-collapse
{
    display: block; 
    overflow: hidden;

    max-height: 80px;
}

.pods-form-ui-row-type-repeat .pods-field-add
{
    margin-top: 15px;
}

/* === FRONT FORM === */
.pods-form-front ul.pods-form-fields
{
    margin: 0; 

    list-style: none;
}

.pods-form-front .pods-field-label
{
    float: left; 

    width: 20%;
    min-width: 150px;
    padding-top: 10px;
}

.pods-form-front .pods-field-input
{
    float: left; 

    width: 75%;
    min-width: 200px;
}
.pods-form-front .pods-field-input input
{
    width: 95%;
}
.pods-form-front .pods-field-input .quicktags-toolbar input
{
    display: inline-block;

    width: auto;
}
.pods-form-front .pods-field-input .pods-boolean input
{
    width: auto;
}
.pods-form-front .pods-field-input select
{
    min-width: 200px;
    margin-top: 10px; 

    border: 1px solid #ccc;
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
            border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
            border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
            border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
            border-bottom-left-radius: 3px;
}
.pods-form-front .pods-field-input .CodeMirror
{
    width: auto;
}

.pods-form-front table.pods-metabox
{
    width: 100%;
}

.pods-form-front ul.pods-files li.pods-file-icon img
{
    width: 40px;
}

.pods-form-front .pods-file-add
{
    display: block;

    margin: 10px;
}

.pods-form-front .pods-submit
{
    float: right;
}

.pods-form-front .pods-validate-error-message
{
    padding: 5px 10px 4px;
}

.pods-form-front .pods-submittable-fields:after,
.pods-form-front li.pods-field:after
{
    display: block; 
    clear: both;

    content: '\00a0';
}

.pods-form-front-success
{
    margin: 10px 0;
    padding: 15px 10px 15px 50px;

    color: #4f8a10;
    border: 1px solid;
    background: #dff2bf url(../images/green-check.png) no-repeat 10px center;
}

/* === FORM TABLE === */
.form-table tr.pods-field.pods-form-ui-row-type-avatar > td,
.form-table tr.pods-field.pods-form-ui-row-type-file > td
{
    padding: 0;
}

.form-table tr.pods-field > td
{
    line-height: inherit;

    padding: 10px 0;
}

.form-table tr:last-child > th,
.form-table tr:last-child > td
{
    border-bottom: none;
}

.form-table.pods-form-ui-table-type-avatar tr.form-field > td,
.form-table.pods-form-ui-table-type-file tr.form-field > td
{
    padding: 0 10px;
}

/**
	This should hold all the field Sass for Pods
**/
.pods-field label
{
    display: inline-block;

    padding: 0 0 4px 2px; 

    cursor: pointer;
}

.pods-field input,
.pods-field textarea
{
    display: block;
}

.pods-field .quicktags-toolbar input
{
    display: inline-block;

    width: auto;
}

.pods-field p.pods-field-comment
{
    font-size: .9em;
    font-style: italic;

    margin: 5px 0 0 2px !important; 

    color: #aaa;
}

.pods-field-option
{
    display: block;
    clear: both;
    overflow: hidden;

    min-height: 26px; 
    padding: 10px 10px 10px 10px;

    border-bottom: 1px solid #ccc;
}
.pods-field-option:hover
{
    background: #f8f8f8;
}
.pods-field-option:nth-child(even)
{
    background: #fcfcfc;
}
.pods-field-option:nth-child(even):hover
{
    background: #f8f8f8;
}
.pods-field-option:first-child
{
    margin-top: -5px;
}
.pods-field-option label
{
    font-size: 14px !important;

    float: left;

    width: 30%;
    margin-top: 7px; 

    color: black;
}
.pods-field-option input
{
    font-size: 14px;

    float: right;

    width: 65%;

    border-color: #c9c9c9;
}
.pods-field-option select
{
    font-size: 13px; 

    float: right;

    width: 65%;
}
.pods-field-option select:focus
{
    background: #ffc;
}
.pods-field-option small
{
    font-size: 12px;

    display: inline-block; 

    margin-top: 6px;
}

/* === MANAGE FIELDS === */
div.pods-manage-field div
{
    overflow: hidden;
}

div.pods-manage-field .pods-field-option,
div.pods-manage-field .pods-field-option-group
{
    padding: 10px; 

    border-bottom: 1px solid #dfdfdf;
    background: #fcfcfc;
}
div.pods-manage-field .pods-field-option:nth-child(even),
div.pods-manage-field .pods-field-option-group:nth-child(even)
{
    background: #fff;
}

div.pods-manage-field .pods-field
{
    position: relative;
}

div.pods-manage-field .pods-field-option label,
div.pods-manage-field .pods-field-option-group .pods-field-option-group-label
{
    float: left;

    width: 30%;
    max-width: 150px; 
    padding-top: 4px;
}

div.pods-manage-field .pods-field-option input[type='text'],
div.pods-manage-field .pods-field-option select,
div.pods-manage-field .pods-field-option textarea
{
    display: block;
    float: left;

    width: 65%;
    max-width: 300px; 
    margin-left: 22px;
}

div.pods-manage-field .pods-field-option div select
{
    float: none;

    width: 100%;
}

div.pods-manage-field .pods-field-option-group p.pods-field-option-group-label
{
    margin-top: 0;
}

div.pods-manage-field input[type='radio']
{
    position: absolute;
    left: 2px;

    float: none;

    margin: 1px 7px 0 0;
    margin-right: 2px;
    margin-left: 0;

    vertical-align: middle;
}

div.pods-manage-field input.pods-form-ui-no-label
{
    position: relative;
}

/* === PODS FORM === */
.pods-form
{
    overflow: hidden;
}
.pods-form .pods-validate-error-message
{
    font-weight: bold;

    display: inline-block; 

    padding: 2px 0 5px;

    color: #790000;
}
.pods-form div.pods-form-ui-field-type-avatar:after
{
    display: block; 
    clear: both;

    content: '\00a0';
}
.pods-form img.waiting
{
    display: none;

    vertical-align: middle;
}
.pods-form .pods-field-input textarea
{
    width: 95%;
    min-height: 200px;
}
.pods-form .pods-field table.pods-metabox
{
    width: 95%;
}

/* === BOOLEAN INPUTS === */
.pods-boolean
{
    position: relative;
}
.pods-boolean input
{
    position: absolute;
    top: 10px;
    left: 2px;

    display: block;

    width: auto; 
    min-height: 16px;
    margin: 1px 7px 0 0;
    padding: 0;
}
.pods-boolean label
{
    margin-left: 20px;
    padding-top: 1px;
}
.pods-boolean:hover
{
    background: #ffffd8;
}

.pods-manage-field .pods-field-option .pods-field.pods-boolean
{
    display: block;
    float: left;

    width: 65%;
    max-width: 300px; 
    margin-left: 22px;
}

.pods-manage-field .pods-field.pods-boolean
{
    margin: 5px 0;
}
.pods-manage-field .pods-field.pods-boolean:hover
{
    background: #ffffd8;
}
.pods-manage-field .pods-field.pods-boolean label
{
    display: block;
    float: none;

    width: auto;
    max-width: 100%;
    margin-left: 20px; 
    padding-top: 0;
    padding-top: 0;
}
.pods-manage-field .pods-field.pods-boolean input
{
    top: 0;
}

/* === PODS DATE === */
.pods-date input
{
    min-width: 125px;
}
.pods-date input.pods-date-field.hasDatepicker
{
    width: 150px; 
    padding-top: 6px !important;
    padding-left: 25px !important;

    cursor: pointer;

    background: #fff url(../images/calendar16.png) no-repeat 5px 5px;
}

/* === PODS PICK === */
.pods-pick-values
{
    overflow: auto;

    min-width: 125px;
    max-height: 200px;
    padding: 2px 0; 

    border: 1px solid #dfdfdf;
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
            border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
            border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
            border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
            border-bottom-left-radius: 3px;
    background: #fff;
}
.pods-pick-values ul
{
    overflow: auto;

    margin: 0;
}
.pods-pick-values li
{
    line-height: 1em;

    margin: 0;
    padding: 3px 6px 2px; 

    border-bottom: 1px solid #f4f4f4;
}
.pods-pick-values li:nth-child(even)
{
    background: #fcfcfc;
}
.pods-pick-values li:last-of-type
{
    border-bottom: 0;
}
.pods-pick-values li .pods-field
{
    padding: 3px 0 2px;
}
.pods-pick-values li .pods-boolean input
{
    top: 5px;
}
.pods-pick-values li:hover
{
    background: #ffffd8;
}
.pods-pick-values label
{
    display: block;

    padding-top: 3px; 
    padding-bottom: 3px;
}

.pods-manage-field .pods-pick-values
{
    display: block;
    float: left;

    width: 65%;
    max-width: 300px; 
    margin-left: 22px;
}
.pods-manage-field .pods-pick-values label
{
    display: block;

    margin-left: 20px; 
    padding-top: 0;
}
.pods-manage-field .pods-pick-values ul
{
    overflow: auto;

    margin: 5px 0;
}
.pods-manage-field .pods-pick-values ul .pods-field.pods-boolean
{
    margin: 0;
}
.pods-manage-field .pods-pick-values li
{
    position: relative;
}
.pods-manage-field .pods-pick-values.pods-zebra
{
    width: 100%;
    max-width: 100%;
}
.pods-manage-field .pods-pick-values.pods-zebra div.pods-boolean
{
    padding: 3px;
}
.pods-manage-field .pods-pick-values li.pods-zebra-odd
{
    display: block;
    float: left;
    clear: both; 

    width: 50%;
}
.pods-manage-field .pods-pick-values li.pods-zebra-even
{
    display: block;
    float: left;
    clear: none; 

    width: 50%;
}

.pods-manage-field .pods-field-option .pods-pick-values .pods-field.pods-boolean
{
    float: none;

    width: auto;
    max-width: 100%; 
    margin-left: 0;
}

.pods-manage-field .pods-field-option .pods-pick-values label
{
    float: none;

    width: auto;
    max-width: 100%; 
    padding-top: 0;
}

.pods-form div.pods-form-ui-field-type-pick:after
{
    display: block; 
    clear: both;

    content: '\00a0';
}

select.pods-form-ui-field-type-pick[multiple]
{
    width: 100%;
    max-height: 200px; 

    border: 1px solid #dfdfdf;
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
            border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
            border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
            border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
            border-bottom-left-radius: 3px;
    background: #fff;
}

/* === SELECT 2 === */
.pods-manage-field .pods-select2
{
    display: block;
    float: left;

    width: 65%; 
    margin-left: 22px;
}

.pods-manage-field .pods-form-ui-field-type-select2
{
    width: auto;
    min-width: 30%;
    min-height: 28px;
}

.pods-manage-field .pods-select2 .select2-container-multi .select2-choices .select2-search-field input
{
    height: auto;
}

.pods-form-ui-field-type-select2
{
    width: auto;
    min-width: 20%;
    min-height: 28px;
}

.pods-select2 .select2-container-multi .select2-choices .select2-search-field input
{
    height: auto;
}

/* === PODS NUMBER === */
.pods-number input
{
    min-width: 125px;
}

/* === PODS SLIDER FIELD === */
.pods-slider-field
{
    max-width: 300px;
}

.pods-manage-field .pods-slider-field
{
    display: block;
    float: left;

    width: 65%;
    max-width: 300px; 
    margin-left: 22px;
}

.pods-manage-field .pods-field-option .pods-form-ui-field-type-wysiwyg textarea
{
    width: 100%;
}

.pods-manage-field .pods-field-option .pods-form-ui-field-type-file
{
    display: block;
    float: left;

    width: 65%;
    max-width: 300px;
    margin-left: 22px;
    padding-bottom: 8px;
}
.pods-manage-field .pods-field-option .pods-form-ui-field-type-file table.form-table
{
    margin-top: 0;
}
.pods-manage-field .pods-field-option .pods-form-ui-field-type-file table.form-table tr.form-field td
{
    padding: 0;

    border-bottom: none;
}
.pods-manage-field .pods-field-option .pods-form-ui-field-type-file ul.pods-files li.pods-file-name
{
    right: 30px;
    left: 46px;

    overflow: hidden;

    white-space: nowrap; 
    text-overflow: ellipsis;
}

.pods-form div.pods-form-ui-field-type-file:after
{
    display: block; 
    clear: both;

    content: '\00a0';
}

.pods-field-option .pods-checkbox-wrapper
{
    float: left;

    margin: 8px 5px 0 30px;
}
.pods-field-option .pods-checkbox-wrapper .pods-single-checkbox
{
    float: left;

    margin-bottom: 5px;
}
.pods-field-option .pods-checkbox-wrapper .pods-single-checkbox.pods-checkbox-column-one
{
    width: 100%;
}
.pods-field-option .pods-checkbox-wrapper .pods-single-checkbox.pods-checkbox-column-two
{
    width: 50%;
}
.pods-field-option .pods-checkbox-wrapper .pods-single-checkbox.pods-checkbox-column-three
{
    width: 33%;
}
.pods-field-option .pods-checkbox-wrapper .pods-single-checkbox.pods-checkbox-column-four
{
    width: 25%;
}
.pods-field-option .pods-checkbox-wrapper input[type='checkbox']
{
    float: left;

    width: 10px;
    margin: 8px 5px 0 0;
}

.pods-field-option .pods-field input[type=checkbox]:focus + label
{
    background: #ffc;
}

.pods-manage-field input[type='checkbox']
{
    position: absolute;
    left: 2px;

    float: none;

    margin: 1px 7px 0 0;
    margin-right: 2px;
    margin-left: 0;

    vertical-align: middle;
}

#post-body
{
    border: none;
    background: none;
}

.pods-admin #navigation-actions .previous-item
{
    display: block;
    float: left;

    width: 50%; 

    text-align: left;
}

.pods-admin #navigation-actions .next-item
{
    display: block;
    float: right;

    width: 50%; 

    text-align: right;
}

.pods-pick select
{
    display: block;

    min-width: 125px;
}

select.pods-pick-multi
{
    height: auto !important;
}

.pods-field,
p.pods-add-file
{
    padding: 10px 0;
}

div.pods-textfield input,
.pods-textarea textarea
{
    width: 100%;
}

textarea.pods-form-ui-field-type-paragraph
{
    font-family: monospace;

    min-height: 100px;

    resize: vertical;
}

input.pods-form-ui-field-type-color
{
    width: 80px;
}

.form-table tr.pods-field:last-child > th,
.form-table tr.pods-field:last-child > td
{
    border-bottom: none;
}

.form-table tr.pods-field > td
{
    line-height: inherit;

    padding: 10px 0;
}

.form-table tr.pods-field.pods-form-ui-row-type-avatar > td,
.form-table tr.pods-field.pods-form-ui-row-type-file > td
{
    padding: 0;
}

.form-table.pods-form-ui-table-type-avatar tr.form-field > td,
.form-table.pods-form-ui-table-type-file tr.form-field > td
{
    padding: 0 10px;
}

.pods-field .wp-editor-container
{
    background-color: #fff;
}

/* Codemirror */
.pods-field .CodeMirror
{
    width: 95%;

    border: 1px solid #999;
    background-color: #fff;
}

.pods-form-ui-row-type-hidden
{
    display: none;
    visibility: hidden;
}

.pods-meta div.pods-form-ui-field-type-avatar:after,
.pods-meta div.pods-form-ui-field-type-file:after,
.pods-meta div.pods-form-ui-field-type-pick:after
{
    display: block; 
    clear: both;

    content: '\00a0';
}
