.tribe-common {
	/* -----------------------------------------------------------------------------
	 *
	 * Form Control: Checkboxes & Radios
	 *
	 * Example (Checkboxes):
	 * <fieldset>
	 *   <legend>Legend for Checkboxes</legend>
	 *   <div class="tribe-common-form-control-checkbox-radio-group">
	 *     <div class="tribe-common-form-control-checkbox">
	 *       <input
	 *         class="tribe-common-form-control-checkbox__input"
	 *         id="checkboxOne"
	 *         name="checkboxGroup"
	 *         type="checkbox"
	 *         value="checkboxOne"
	 *         checked="checked"
	 *       />
	 *       <label
	 *         class="tribe-common-form-control-checkbox__label"
	 *         for="checkboxOne"
	 *       >
	 *         Checkbox One
	 *       </label>
	 *     </div>
	 *     <div class="tribe-common-form-control-checkbox">
	 *       <input
	 *         class="tribe-common-form-control-checkbox__input"
	 *         id="checkboxTwo"
	 *         name="checkboxGroup"
	 *         type="checkbox"
	 *         value="checkboxTwo"
	 *       />
	 *       <label
	 *         class="tribe-common-form-control-checkbox__label"
	 *         for="checkboxTwo"
	 *       >
	 *         Checkbox Two
	 *       </label>
	 *     </div>
	 *   </div>
	 * </fieldset>
	 *
	 * Example (Radios):
	 * <div class="tribe-common-form-control-checkbox-radio-group">
	 *   <div class="tribe-common-form-control-radio">
	 *     <input
	 *       class="tribe-common-form-control-radio__input"
	 *       id="radioExample"
	 *       name="radioExample"
	 *       type="radio"
	 *       value="RadioExample"
	 *       checked="checked"
	 *     />
	 *     <label
	 *       class="tribe-common-form-control-radio__label"
	 *       for="radioExample"
	 *     >
	 *       Radio Example
	 *     </label>
	 *   </div>
	 * </div>
	 *
	 * ----------------------------------------------------------------------------- */

	.tribe-common-form-control-checkbox__label,
	.tribe-common-form-control-radio__label {
		cursor: pointer;
		display: inline-block;
		margin-left: 11px;
		vertical-align: middle;
	}

	.tribe-common-form-control-checkbox__input,
	.tribe-common-form-control-radio__input {
		cursor: pointer;
		display: inline-block;
		margin: 0;
		vertical-align: middle;
	}


	/* -----------------------------------------------------------------------------
	 * Form Control: Checkboxes
	 * ----------------------------------------------------------------------------- */

	/* -----------------------------------------------------------------------------
	 * Form Control: Radios
	 * ----------------------------------------------------------------------------- */

	/* -----------------------------------------------------------------------------
	 *
	 * Form Control: Checkboxes & Radios Theme Overrides
	 *
	 * ----------------------------------------------------------------------------- */

	/* -----------------------------------------------------------------------------
	 * Form Control: Checkboxes Theme Overrides
	 * ----------------------------------------------------------------------------- */

	/* -----------------------------------------------------------------------------
	 * Theme Overrides - Enfold
	 * ----------------------------------------------------------------------------- */

	#top.tribe-theme-enfold & {

		.tribe-common-form-control-checkbox__input {
			display: inline-block;
		}
	}

	/* -----------------------------------------------------------------------------
	 * Form Control: Radios Theme Overrides
	 * ----------------------------------------------------------------------------- */
}
