@import 'partials/genericons';
@import 'partials/admin-tables';

.pods-red-hover {
  color: rgba(139, 0, 0, 0.3);
}
.pods-red-hover:hover {
  color: rgba(139, 0, 0, 0.8);
}
.pods-grey-hover {
  color: rgba(125, 125, 125, 0.5);
}
.pods-grey-hover:hover {
  color: #7d7d7d;
}
.pods-no-show {
  display: none;
}
.pods-float-right {
  text-align: right;
}
.pods-loop-row-save {
  float: right;
  display: inline-block;
}
.pods-loop-row-delete {
  display: inline-block;
}
.pods-loop-row-expanded > .pods-loop-row-name {
  display: none;
}

///

.edit-tags-php.pods-loop-form-expanded .pods-loop-wrapper > .pods-loop-table,
.edit-tags-php.pods-loop-form-expanded .pods-loop-row-add {
  position: relative;
  width: 200%;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
}

// make a tab wrapper partial
.pods-tab-wrapper {
  min-width: 300px;
  max-width: 600px;
}
.pods-tab-wrapper .pods-tabs {
  padding: 3px 0;
  margin-left: 0;
  margin-bottom: 0;
  border-bottom: 1px solid #CCC;
  font-size: 15px;
}
.pods-tab-wrapper .pods-tabs li {
  list-style: none;
  margin: 0;
  display: inline;
}
.pods-tab-wrapper .pods-tabs li:first-child a {
  margin-left: 0;
}
.pods-tab-wrapper .pods-tabs li a {
  padding: 6px 10px 3px;
  margin-left: 3px;
  border: 1px solid #CCC;
  border-bottom: none;
  background: #F5F5F5;
  text-decoration: none;
  color: #AAA;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
}
.pods-tab-wrapper .pods-tabs li a:hover {
  background: #eee;
  color: #D54E21;
}
.pods-tab-wrapper .pods-tabs li.selected a {
  color: #464646;
  background: white;
  border-bottom: 1px solid white;
}
.pods-tab-wrapper .pods-tabs li.selected a:hover {
  background: #eee;
  color: #D54E21;
}
.pods-tab-wrapper .pods-tabs li:active a {
  background: #CCC;
  color: #FFF;
  border-color: #AAA;
  border-bottom: 0 none;
}
.pods-tab-wrapper .pods-tab-content-wrapper {
  border: 1px solid #cccccc;
  border-top: 0 none;
  border-bottom: 0 none;
  background: white;
  padding-top: 5px;
  font-size: 16px;
  overflow: hidden;
}
.pods-tab-wrapper .pods-tab-content-wrapper h4 {
  background: #dbdbdb;
  color: #333;
  padding: 15px 6px 8px 9px;
  margin: 0;
  letter-spacing: .05em;
  font-size: 15px;
}
.pods-field-option {
  overflow: hidden;
  clear: both;
  display: block;
  padding: 10px 10px 10px 10px;
  border-bottom: 1px solid #cccccc;
  min-height: 26px;
}
.pods-field-option:hover {
  background: #f8f8f8;
}
.pods-field-option:nth-child(even) {
  background: #FCFCFC;
}
.pods-field-option:nth-child(even):hover {
  background: #f8f8f8;
}
.pods-field-option:first-child {
  margin-top: -5px;
}
.pods-field-option label {
  width: 30%;
  float: left;
  font-size: 14px !important;
  color: black;
  margin-top: 7px;
}
.pods-field-option input {
  font-size: 14px;
  width: 65%;
  float: right;
  border-color: #c9c9c9;
}
.pods-field-option .pods-checkbox-wrapper {
  float: left;
  margin: 8px 5px 0 30px;
}
.pods-field-option .pods-checkbox-wrapper .pods-single-checkbox {
  float: left;
  margin-bottom: 5px;
}
.pods-field-option .pods-checkbox-wrapper .pods-single-checkbox.pods-checkbox-column-one {
  width: 100%;
}
.pods-field-option .pods-checkbox-wrapper .pods-single-checkbox.pods-checkbox-column-two {
  width: 50%;
}
.pods-field-option .pods-checkbox-wrapper .pods-single-checkbox.pods-checkbox-column-three {
  width: 33%;
}
.pods-field-option .pods-checkbox-wrapper .pods-single-checkbox.pods-checkbox-column-four {
  width: 25%;
}
.pods-field-option .pods-checkbox-wrapper input[type="checkbox"] {
  width: 10px;
  float: left;
  margin: 8px 5px 0 0;
}
.pods-field-option select {
  width: 65%;
  float: right;
  font-size: 13px;
}
.pods-field-option small {
  font-size: 12px;
  margin-top: 6px;
  display: inline-block;
}
.mp6 .pods-tab-wrapper .pods-tabs li a {
  padding-bottom: 4px;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topright: 0;
  border-top-right-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
  border-top-left-radius: 0;
}
.mp6 .pods-form-ui-field-type-file {
  margin-top: 15px;
}
.pods-form-ui-row-type-repeat .pods-repeating-field {
  background: #FFF;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid #dfdfdf;
  margin: 0 0 15px 0;
  padding: 8px 0;
  overflow: hidden;
  min-width: 390px;
}
.pods-form-ui-row-type-repeat .pods-repeating-field .pods-single-repeat {
  display: block;
  clear: both;
  overflow: hidden;
  border-bottom: 1px solid #EFEFEF;
  margin: 5px 0;
  padding: 5px 10px;
}
.pods-form-ui-row-type-repeat .pods-repeating-field .pods-single-repeat:last-of-type {
  border-bottom: 0 none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.pods-form-ui-row-type-repeat .pods-repeating-field .pods-single-repeat:first-of-type {
  padding-top: 0;
  margin-top: 0;
}
.pods-form-ui-row-type-repeat .pods-repeating-field .pods-single-repeat .CodeMirror {
  width: 100% !important;
}
.pods-form-ui-row-type-repeat .pods-repeating-field .pods-single-repeat textarea {
  width: 100%;
}
.pods-form-ui-row-type-repeat .pods-repeating-field .pods-single-repeat select {
  margin-top: 5px;
}
.pods-form-ui-row-type-repeat .pods-repeating-field .pods-repeat-handle {
  width: 30px;
  height: 30px;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  cursor: move;
  font-size: 25px;
  margin-top: 2px;
  color: rgba(125, 125, 125, 0.5);
}
.pods-form-ui-row-type-repeat .pods-repeating-field .pods-repeat-handle:hover {
  color: #7d7d7d;
}
.pods-form-ui-row-type-repeat .pods-repeating-field .pods-repeat-name {
  width: 85%;
  float: left;
}
.pods-form-ui-row-type-repeat .pods-repeating-field .pods-repeat-delete {
  width: 25px;
  height: 25px;
  float: right;
  margin-top: 5px;
  color: rgba(139, 0, 0, 0.3);
  font-size: 25px;
}
.pods-form-ui-row-type-repeat .pods-repeating-field .pods-repeat-delete:hover {
  color: rgba(139, 0, 0, 0.8);
}
.pods-form-ui-row-type-repeat .pods-repeating-field .pods-repeat-delete:hover {
  cursor: pointer;
}
.pods-form-ui-row-type-repeat .pods-collapse {
  max-height: 80px;
  overflow: hidden;
  display: block;
}
.pods-form-ui-row-type-repeat .pods-field-add {
  margin-top: 15px;
}
.pods-more-controls {
  position: relative;
}
.pods-more-controls a {
  position: absolute;
  top: -20px;
  display: block;
  width: 100%;
  padding: 5px 0;
  text-align: center;
}
.pods-more-controls a.pods-no-show {
  visibility: hidden;
}
.pods-more-controls a .more,
.pods-more-controls a .less {
  margin-top: 3px;
}
.pods-required {
  color: rgba(139, 0, 0, 0.8);
}

