.pods-field-wrapper__item {
	display: flex;
	flex-flow: row nowrap;
	margin-bottom: 1em;
}

.pods-field-wrapper__controls {
	flex: 0 1 auto;
}

.pods-field-wrapper__field {
	flex: 1 1 auto;
}

.pods-field-wrapper__controls {
	display: flex;
    flex-flow: row nowrap;

	button {
		margin: 0 0.5em;

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}
	}
}

.pods-field-wrapper__controls--start {
	padding-right: 1em;
}

.pods-field-wrapper__controls--end {
	padding-left: 1em;
}
