/* .tribe-common { */
	/* -----------------------------------------------------------------------------
	 *
	 * Form Control: Groups (Checkbox & Radio)
	 *
	 * Example:
	 * <div class="tribe-common-form-control-checkbox-radio-group">
	 *   <div class="tribe-common-form-control-checkbox">
	 *     <input id="checkboxOne" name="checkboxGroup" type="checkbox" value="checkboxOne" checked="checked" />
	 *     <label for="checkboxOne">Checkbox One</label>
	 *   </div>
	 *   <div class="tribe-common-form-control-checkbox">
	 *     <input id="checkboxTwo" name="checkboxGroup" type="checkbox" value="checkboxTwo" />
	 *     <label for="checkboxTwo">Checkbox two</label>
	 *   </div>
	 * </div>
	 *
	 * ----------------------------------------------------------------------------- */

	/* .tribe-common-form-control-checkbox-radio-group {} */
/* } */
