<input name="pods_meta_file_test[<%- attr.id %>][attr.id]"
		data-name-clean="pods-meta-file-test-id-id"
		id="pods-form-ui-pods-meta-file-test-id-id"
		class="pods-form-ui-field-type-text pods-form-ui-field-name-pods-meta-file-test-id-id"
		type="hidden"
		value="<%- attr.id %>>">
<ul class="pods-flex-meta relationship-item">
	<li class="pods-flex-col pods-flex-handle"><span><%- pods_localized_strings.__reorder %></span></li>
	<% if ( 1 == options.pick_show_icon && '' != icon ) { %>
		<li class="pods-flex-col pods-flex-icon">
			<img class="pinkynail" src="<%- icon %>" alt="Icon">
		</li>
	<% } %>
	<li class="pods-flex-col pods-flex-name">
		<input name="pods_meta_file_test[<%- attr.id %>][title]"
				data-name-clean="pods-meta-file-test-id-title"
				id="pods-form-ui-pods-meta-file-test-id-title"
				class="pods-form-ui-field-type-text pods-form-ui-field-name-pods-meta-file-test-id-title"
				type="text"
				value="<%= name %>"
				tabindex="2"
				maxlength="255">
	</li>
	<li class="pods-flex-col pods-flex-remove"><a href="#remove"><%- pods_localized_strings.__remove %></a></li>
	<% if ( 1 == options.pick_show_view_link && '' != link ) { %>
		<li class="pods-flex-col pods-flex-link"><a href="<%- link %>" target="_blank"><%- pods_localized_strings.__view %></a></li>
	<% } %>
	<% if ( 1 == options.pick_show_edit_link && '' != edit_link ) { %>
		<li class="pods-flex-col pods-flex-edit"><a href="<%- edit_link %>" target="_blank"><%- pods_localized_strings.__edit %></a></li>
	<% } %>
</ul>
