<span class="checkbox" style="background-color: #c7def8; display: inline-block; padding: 5px 10px; margin: 10px 0; border-radius: 4px; cursor: pointer;">
	Checkbox
</span>
<span class="select" style="background-color: #c7def8; display: inline-block; padding: 5px 10px; margin: 10px 0; border-radius: 4px; cursor: pointer;">
	Select
</span>
<span class="flex" style="background-color: #c7def8; display: inline-block; padding: 5px 10px; margin: 10px 0; border-radius: 4px; cursor: pointer;">
	Flex
</span>