{
	"presets": [
		[ "@babel/preset-env" ],
		[ "@babel/preset-react" ]
	],
	"plugins": [
		[
			"babel-plugin-module-resolver",
			{
				"alias": {
					"pods-dfv": "./ui/js/pods-dfv"
				}
			}
		],
		"babel-plugin-transform-html-import-to-string",
		"@babel/plugin-transform-strict-mode"
	],
	"env": {
		"development": {
			"presets": [
				[ "@babel/preset-react", { "development": true } ]
			]
		},
		"production": {
			"plugins": [
				"transform-react-remove-prop-types"
			]
		}
	}
}
