{
    "presets": [
			[ "@babel/preset-env" ]
		],
    "plugins": [
        [ "babel-plugin-module-resolver", {
            "alias": { "pods-dfv": "./ui/js/pods-dfv" }
        } ],
        "babel-plugin-transform-html-import-to-string"
    ]
}
