# Auto detect text files and perform LF normalization
* text=auto

# Ignore
/tests export-ignore
/sources export-ignore
kill-travis.php export-ignore
.travis.yml export-ignore
Gruntfile.js export-ignore
package.json export-ignore
phpunit.xml.dist export-ignore