# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

# Sublime
*.sublime-project
*.sublime-workspace

# Dropbox
.dropbox
.dropbox.attr

# SASS
/.sass-cache/

# PhpStorm
/.idea/

# Eclipse
*.pydevproject
.project
.metadata
/build/
/tmp/

# NPM / Composer
/composer.lock
/node_modules/
vendor/*
npm-debug.log
/package-lock.json

# Source maps should just be built locally
ui/js/pods-ui-ready.min.js.map

# PHPCS
/phpcs.xml
phpcs-report-*.txt


# Tests - local config files
codeception.yml
tests/codeception/*.suite.yml
tests/codeception/_support/_generated
.env.local

# Tests - local output files
tests/codeception/_output
/coverage/

# Allowed vendor files
!vendor/freemius
