# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

# Sublime
*.sublime-project
*.sublime-workspace

# Dropbox
.dropbox
.dropbox.attr

# SASS
/.sass-cache/

# PhpStorm
/.idea/

# Eclipse
*.pydevproject
.project
.metadata
/build/
/tmp/

# NPM / Composer
/composer.lock
/node_modules/
/vendor/
npm-debug.log
/package-lock.json

# Common
/common/*
!/common/lang
/common/lang/*
!/common/lang/*.pot
!/common/lang/*.mo
!/common/README.md
!/common/src
!/common/tribe-autoload.php
!/common/vendor
/common/vendor/*
!/common/vendor/autoload.php
!/common/vendor/autoload_52.php
!/common/vendor/composer/
!/common/vendor/attrchange/js/*.js
!/common/vendor/clipboard/*.js
!/common/vendor/datatables/datatables*.css
!/common/vendor/datatables/datatables*.js
!/common/vendor/datatables/DataTables/images/*.png
!/common/vendor/firebase/php-jwt/src/*.php
!/common/vendor/freemius/
!/common/vendor/tooltipster/
!/common/vendor/handlebars/*.js
!/common/vendor/jquery-tribe-timepicker/*/*.css
!/common/vendor/jquery-tribe-timepicker/*/*.js
!/common/vendor/jquery-tribe-timepicker/*/*.png
!/common/vendor/jquery/
!/common/vendor/lucatume/di52/src/
!/common/vendor/momentjs/*.js
!/common/vendor/momentjs/*.js
!/common/vendor/tribe-select2/*.css
!/common/vendor/tribe-select2/*.gif
!/common/vendor/tribe-select2/*.js
!/common/vendor/tribe-select2/*.png
!/common/vendor/xrstf/composer-php52/
!/common/vendor/psr/log/Psr/Log/*.php
!/common/vendor/monolog/monolog/src/*.php
!/common/vendor/monolog/monolog/src/*/*.php

# Source maps should just be built locally
ui/js/pods-ui-ready.min.js.map

# PHPCS
/phpcs.xml
phpcs-report-*.txt


# Tests - local config files
codeception.yml
tests/codeception/*.suite.yml
tests/codeception/_support/_generated
.env.local

# Tests - local output files
tests/codeception/_output
/coverage/
