# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

# Sublime
*.sublime-project
*.sublime-workspace

# Dropbox
.dropbox
.dropbox.attr

# SASS
/.sass-cache/

# PhpStorm
/.idea/

# Eclipse
*.pydevproject
.project
.metadata
/build/
/tmp/
tests/clover.xml

# NPM / Composer
composer.lock
/node_modules/
/vendor/
npm-debug.log

# PHPunit config
phpunit.xml

# Source maps should just be built locally
ui/js/pods-ui-ready.min.js.map