language: php

sudo: false

php:
    - 7.0

env:
    - WP_VERSION=bleeding WP_MULTISITE=0
    - WP_VERSION=bleeding-maintenance WP_MULTISITE=0
    - WP_VERSION=latest WP_MULTISITE=0
    - WP_VERSION=latest WP_MULTISITE=1

matrix:
    allow_failures:
     - env: WP_VERSION=bleeding WP_MULTISITE=0
     - env: WP_VERSION=bleeding-maintenance WP_MULTISITE=0

    include:
    - php: hhvm
      env: WP_VERSION=latest WP_MULTISITE=0
    - php: 5.6
      env: WP_VERSION=latest WP_MULTISITE=0
    - php: 5.3
      env: WP_VERSION=3.8 WP_MULTISITE=0
    # MySQL 5.7
    #- env: DB=mysql-5.7-dmr WP_VERSION=latest WP_MULTISITE=0

## Cache composer bits
cache:
  directories:
    - vendor
    - node_modules
    - $HOME/.composer/cache

install:
  # We need the latest stable node
  - . $HOME/.nvm/nvm.sh
  - nvm install stable
  - nvm use stable

  # Dependencies
  - npm install

before_script:
    - if [[ $TRAVIS_PHP_VERSION != 'hhvm' ]]; then phpenv config-rm xdebug.ini; fi
    - composer self-update
    - composer install --no-interaction --prefer-source
    - bash bin/install-wp-tests.sh wordpress_test root '' localhost $WP_VERSION
    - ln -s . /tmp/wordpress/wp-content/plugins/pods

script:
    - vendor/bin/phpunit
    - node --harmony ./node_modules/mocha/bin/_mocha --compilers js:babel-core/register --reporter dot --recursive tests-js

branches:
    only:
        - master
        - 2.x
        - release/3.0
