language: php

sudo: false

php:
    - 7.0

env:
    - WP_VERSION=nightly WP_MULTISITE=0
    - WP_VERSION=latest WP_MULTISITE=0
    - WP_VERSION=latest WP_MULTISITE=1

matrix:
    allow_failures:
     - env: WP_VERSION=nightly WP_MULTISITE=0
     - php: 7.2

    include:
    - php: 7.2
      env: WP_VERSION=latest WP_MULTISITE=0
    - php: 7.1
      env: WP_VERSION=latest WP_MULTISITE=0
    - php: 5.6
      env: WP_VERSION=latest WP_MULTISITE=0
    - php: 5.3
      env: WP_VERSION=3.8 WP_MULTISITE=0

## Cache composer bits
cache:
  apt: true
  directories:
    - vendor
    - $HOME/.composer/cache

## Prepare
before_script:
    - if [[ $TRAVIS_PHP_VERSION != '7.2' ]]; then phpenv config-rm xdebug.ini; fi
    - composer self-update
    - composer install --no-interaction --prefer-source
    - bash bin/install-wp-tests.sh wordpress_test root '' localhost $WP_VERSION
    - ln -s . /tmp/wordpress/wp-content/plugins/pods

## Work
script:
    - vendor/bin/phpunit

## Cleanup
