language: php

sudo: false

php:
    - 7.0

env:
    - WP_VERSION=nightly WP_MULTISITE=0
    - WP_VERSION=latest WP_MULTISITE=0
    - WP_VERSION=latest WP_MULTISITE=1

matrix:
    allow_failures:
     - env: WP_VERSION=nightly WP_MULTISITE=0

    include:
    - php: 7.1
      env: WP_VERSION=latest WP_MULTISITE=0
    - php: hhvm
      env: WP_VERSION=latest WP_MULTISITE=0
    - php: 5.6
      env: WP_VERSION=latest WP_MULTISITE=0
    - php: 5.3
      env: WP_VERSION=3.8 WP_MULTISITE=0
    # MySQL 5.7
    #- env: DB=mysql-5.7 WP_VERSION=latest WP_MULTISITE=0
    # MySQL 8.0
    #- env: DB=mysql-8.0-dmr WP_VERSION=latest WP_MULTISITE=0

## Cache composer bits
cache:
  apt: true
  directories:
    - vendor
    - $HOME/.composer/cache

before_script:
    - if [[ $TRAVIS_PHP_VERSION != 'hhvm' ]] && [[ $TRAVIS_PHP_VERSION != '7.1' ]]; then phpenv config-rm xdebug.ini; fi
    - composer self-update
    - composer install --no-interaction --prefer-source
    - bash bin/install-wp-tests.sh wordpress_test root '' localhost $WP_VERSION
    - ln -s . /tmp/wordpress/wp-content/plugins/pods

script:
    - vendor/bin/phpunit

branches:
    only:
        - master
        - 2.x
        - release/3.0
