language: php

sudo: false

php:
    - 7.0

env:
    - WP_VERSION=bleeding WP_MULTISITE=0
    - WP_VERSION=bleeding-maintenance WP_MULTISITE=0
    - WP_VERSION=latest WP_MULTISITE=0
    - WP_VERSION=latest WP_MULTISITE=1

matrix:
    allow_failures:
     - env: WP_VERSION=bleeding WP_MULTISITE=0
     - env: WP_VERSION=bleeding-maintenance WP_MULTISITE=0

    include:
    - php: hhvm
      env: WP_VERSION=latest WP_MULTISITE=0
    - php: 5.6
      env: WP_VERSION=latest WP_MULTISITE=0
    - php: 5.3
      env: WP_VERSION=3.8 WP_MULTISITE=0
    # MariaDB 10.1
    - php: 5.6
      env: DB=mariadb WP_VERSION=latest WP_MULTISITE=0
      addons:
        mariadb: 10.1
    # MySQL 5.7
    - php: 5.6
      env: DB=mysql-5.7-dmr WP_VERSION=latest WP_MULTISITE=0

## Cache composer bits
cache:
  directories:
    - vendor
    - $HOME/.composer/cache

before_script:
    - phpenv config-rm xdebug.ini
    - travis_retry composer self-update
    - travis_retry composer install --no-interaction --prefer-source
    - bash bin/install-wp-tests.sh wordpress_test root '' localhost $WP_VERSION
    - ln -s . /tmp/wordpress/wp-content/plugins/pods

script:
    - vendor/bin/phpunit

branches:
    only:
        - master
        - 2.x
        - release/3.0
