parameters:
  level: 0
  paths:
    - classes
    - includes
    - components
    - deprecated
    - sql
    - src
    - ui/admin
    - ui/fields
    - ui/forms
    - ui/front
    - init.php
    - vendor/vendor-prefixed
  excludePaths:
    - src/Pods/Integrations
    - tests
