<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite>
			<directory prefix="tests-" suffix=".php">tests</directory>
		</testsuite>
	</testsuites>
    <filter>
		<blacklist>
			<directory suffix=".php">.</directory>
		</blacklist>
        <whitelist>
            <directory suffix=".php">./includes</directory>
            <file>init.php</file>
        </whitelist>
    </filter>
</phpunit>