<phpunit
	bootstrap="tests/phpunit/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite>
			<directory prefix="tests-" suffix=".php">tests</directory>
			<directory prefix="Test_" suffix=".php">tests/phpunit/</directory>
		</testsuite>
	</testsuites>

    <filter>
		<blacklist>
			<directory suffix=".php">.</directory>
		</blacklist>
        <whitelist>
            <directory suffix=".php">./includes</directory>
            <file>init.php</file>
        </whitelist>
    </filter>

    <logging>
    	<log type="coverage-clover" target="tests/clover.xml"/>
    </logging>

</phpunit>
