<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite>
			<directory prefix="tests-" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./classes</directory>
            <directory suffix=".php">./components</directory>
            <directory suffix=".php">./deprecated</directory>
            <directory suffix=".php">./includes</directory>
            <directory suffix=".php">./ui</directory>
            <file>init.php</file>
        </whitelist>
    </filter>
</phpunit>