/* Admin-facing */
.area {
    padding: 5px;
    margin: 5px 15px 5px 0;
    border: 1px solid #E3E3E3;
    background: #fff;
}

.title {
    color: #464646;
    font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
    font-style: italic;
    font-size: 24px;
    margin: 0;
}

.navTab a {
    float: left;
    padding: 5px;
    margin-right: 20px;
    text-decoration: underline;
    color: black;
}

.navTab.active a {
    color: white;
    background: #464646;
    text-decoration: none;
}

.hidden {
    display: none;
}

.clear {
    clear: both;
}

.btn {
    cursor: pointer;
}

.moveup {
    background: url(images/arrow_top.gif) no-repeat;
}

.movedown {
    background: url(images/arrow_down.gif) no-repeat;
}

.dropme {
    background: url(images/action_delete.gif) no-repeat;
}

.editme {
    background: url(images/reply.gif) no-repeat;
}

.addnew {
    background: url(images/file.gif) no-repeat;
}

.moveup, .movedown, .editme, .dropme, .addnew {
    float: left;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

#logo {
    background: url(images/header-bg.png) repeat-x;
}

#column_name,
#column_label,
#column_comment,
#column_helper,
#column_type,
#column_pickval,
#column_sister_field_id,
#pod_label {
    width: 125px;
    border: 1px solid #E3E3E3;
}

#column_comment {
    width: 255px;
}

.extras {
    margin: 0;
    cursor: pointer;
    padding: 5px 20px;
    background: url(images/menu-closed.png) 0 5px no-repeat;
}

.extras.open {
    background: url(images/menu-open.png) 0 5px no-repeat;
}

.tips {
    font-weight: bold;
    font-style: italic;
    margin-bottom: 5px;
}

.area .button {
    border: 1px solid #E3E3E3;
    margin-bottom: 5px;
}

.area textarea, .desc, .code {
    width: 99%;
    height: 140px;
    border: 1px solid #E3E3E3;
}

.area .tabs {
    float: left;
    width: 30%;
}

.area .tabs .active {
    background: #F9F9F9;
}

.area .tab {
    padding: 4px 8px;
    margin-right: 20px;
    border-top: 1px solid #E3E3E3;
    cursor: pointer;
}

#podArea #list_filters {
    width: 99%;
    border: 1px solid #E3E3E3;
}

#menu_uri,
#menu_title,
#page_title,
#podBox #new_pod,
#pageBox #new_page,
#helperBox #new_helper {
    width: 300px;
    border: 1px solid #E3E3E3;
}

#browseTable {
    padding: 10px 0;
}

#browseTable th {
    text-align: left;
}

#browseTable th a {
    text-decoration: none;
}

#browseTable td {
    padding: 5px 0;
    border-top: 1px solid #E3E3E3;
}

.filebox {
    height: 160px;
    overflow-x: hidden;
    overflow-y: auto;
}

.zebra {
    background: #F9F9F9;
}

/* NicEdit */
.nicEdit-panel {
    background: #F9F9F9;
}

.nicEdit-button {
    background: #F9F9F9;
}

.nicEdit-main {
    background: #fff;
}

/* Public-facing */
h3 {
    margin: 0 0 10px 0;
}

.form {
    border: 1px solid #E3E3E3;
}

.leftside {
    width: 30%;
    float: left;
    font-weight: bold;
}

.leftside .comment {
    font-weight: normal;
    font-size: 11px;
    color: #999;
}

.rightside {
    float: left;
    margin: 0 0 5px 0;
    width: 70%;
}

#menuBox .leftside {
    width: 20%;
}

#menuBox .rightside {
    width: 80%;
}

#columnBox .pick {
    width: 120px;
    height: 60px;
}

.red {
    color: red;
    font-weight: bold;
}

div#content p {
    padding: 5px 0;
}

.pick {
    width: 99%;
    height: 160px;
    background: white;
    border: 1px solid #E3E3E3;
    overflow: auto;
}

.pick .active {
    background: #FFD799;
}

.option {
    padding-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    cursor: default;
}

span.list {

}

span.list:before {
    content: ", ";
}

span.first:before {
    content: "";
}

span.first {

}

.menu-item {
    margin-top: 5px;
    margin-left: 20px;
}

/* File Tree */
UL.jqueryFileTree {
    font-family: Verdana, sans-serif;
    font-size: 11px;
    line-height: 18px;
    padding: 0px;
    margin: 0px;
}

UL.jqueryFileTree LI {
    list-style: none;
    padding: 0px;
    padding-left: 20px;
    margin: 0px;
    white-space: nowrap;
}

UL.jqueryFileTree A {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 0px 2px;
}

UL.jqueryFileTree A:hover {
    background: #BDF;
}

.jqueryFileTree li.directory {
    background: url(images/folder.gif) left top no-repeat;
}
.jqueryFileTree li.expanded {
    background: url(images/folder_open.gif) left top no-repeat;
}
.jqueryFileTree li.file {
    background: url(images/file.gif) left top no-repeat;
}

.jqueryFileTree LI.wait {
    background: url(images/ajax-loader.gif) left top no-repeat;
}

/* jqModal */
.jqmWindow {
    display: none;
    position: fixed;
    top: 25%;
    left: 25%;
    width: 400px;
    background: #E4F2FD;
    color: #333;
    border: 1px solid #C6D9E9;
    padding: 10px;
}

.jqmOverlay {
    background: #fff;
}

* iframe.jqm {
    top: 0;
    left: 0;
    z-index: -1;
    position: absolute;
    width: expression(this.parentNode.offsetWidth+'px');
    height: expression(this.parentNode.offsetHeight+'px');
}

* html .jqmWindow {
    position: absolute;
    top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(20 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}

/* Date Input */
.date_selector, .date_selector * {
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
}

.date_selector {
    padding: 5px;
    margin: -1px 0 0 0;
    background: #f2f2f2;
    border: 1px solid #ccc;
    position: absolute;
    text-align: center;
    z-index: 99999;
    display: none;
}

.date_selector_ieframe {
    position: absolute;
    z-index: 9999;
    display: none;
}

.date_selector .month_nav {
    padding: 0;
    margin: 0 0 5px 0;
    display: block;
}

.date_selector .month_name {
    display: block;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
}

.date_selector .date_hour, .date_selector .date_minute, .date_selector .date_second {
    border: 1px solid #ccc;
}

.date_selector .month_nav a {
    top: 5px;
    width: 20px;
    height: 20px;
    display: block;
    font-weight: bold;
    position: absolute;
    text-align: center;
    line-height: 17px;
    overflow: hidden;
    font-size: 120%;
    color: #003C78;
}

.date_selector .month_nav a:hover, .date_selector .month_nav a:focus {
    color: #003C78;
    background: none;
    text-decoration: none;
}

.date_selector .prev {
    left: 5px;
}

.date_selector .next {
    right: 5px;
}
.date_selector table {
    border-spacing: 0;
    border-collapse: collapse;
}

.date_selector th, .date_selector td {
    padding: 0;
    height: 2em;
    width: 2.5em;
    text-align: center;
}

.date_selector td {
    line-height: 2em;
    text-align: center;
    white-space: nowrap;
    border: 1px solid #ccc;
    background: #fff;
}

.date_selector td.today {
    background: #FFFED9;
}

.date_selector td.unselected_month {
    color: #ccc;
}

.date_selector td a {
    width: 100%;
    height: 100%;
    display: block;
    color: #003C78;
    line-height: 2em;
    text-align: center;
    text-decoration: none !important;
}

.date_selector td.today a {
    background: #FFFEB3;
}

.date_selector td.selected a {
    background: #D8DFE5;
    font-weight: bold;
}

.date_selector td a:hover {
    background: #003C78;
    color: #fff;
}
