.tribe-common {
	/* -------------------------------------------------------------------------
	 * Button
	 * ------------------------------------------------------------------------- */

	button {
		padding: 0;
	}

	/* -------------------------------------------------------------------------
	 *
	 * Button: Theme Overrides
	 *
	 * ------------------------------------------------------------------------- */

}
