.tribe-theme-avada {

	/* -------------------------------------------------------------------------
	 * Reset Skeleton Theme Overrides - Avada
	 * ------------------------------------------------------------------------- */

	input[type="text"] {
		margin: 0;
	}
}
