.tribe-theme-divi {

	/* -------------------------------------------------------------------------
	 * Reset Skeleton Theme Overrides - Divi
	 * ------------------------------------------------------------------------- */

	.entry-content .tribe-common,
	&body.et-pb-preview #main-content .container .tribe-common {

		table {
			border: 0;
			margin: 0;
		}

		td {
			border: 0;
		}
	}

	#content-area .tribe-common {

		td,
		th,
		tr {
			padding: 0;
		}
	}
}
