#top.tribe-theme-enfold .tribe-common {

	/* -------------------------------------------------------------------------
	 * Reset Skeleton Theme Overrides - Enfold
	 * ------------------------------------------------------------------------- */

	form {
		margin: 0;
	}

	input {
		margin: 0;
	}
}
