/* .tribe-theme-genesis { */

	/* -------------------------------------------------------------------------
	 * Reset Skeleton Theme Overrides - Genesis
	 * ------------------------------------------------------------------------- */

/* } */
