/* .tribe-theme-twentyseventeen .tribe-common { */

	/* -------------------------------------------------------------------------
	 * Reset Skeleton Theme Overrides - Twenty Seventeen
	 * ------------------------------------------------------------------------- */

/* } */
