/* .tribe-theme-twentynineteen .tribe-common { */

	/* -------------------------------------------------------------------------
	 * Reset Skeleton Theme Overrides - Twenty Nineteen
	 * ------------------------------------------------------------------------- */

/* } */
