.tribe-common {
	/* -----------------------------------------------------------------------------
	 *
	 * Button: Border
	 *
	 * Example:
	 * <button class="tribe-common-c-btn-border">...</button>
	 * <a href="#" class="tribe-common-c-btn-border">...</a>
	 *
	 * ----------------------------------------------------------------------------- */

	.tribe-common-c-btn-border,
	a.tribe-common-c-btn-border {
		@mixin button-border;

		color: var(--color-text-secondary);
		padding: 14px 20px 14px;

		@media (--viewport-medium) {
			padding: 6px 15px;
		}

		&:active,
		&:focus,
		&:hover {
			color: var(--color-text-primary);
		}

		&:disabled {
			color: var(--color-text-disabled)
		}
	}

	/* -------------------------------------------------------------------------
	 *
	 * Button: Border - Theme Overrides
	 *
	 * ------------------------------------------------------------------------- */

	/* -------------------------------------------------------------------------
	 * Theme Overrides - Twenty Seventeen
	 * ------------------------------------------------------------------------- */

	.tribe-theme-twentyseventeen & {

		.tribe-common-c-btn-border {

			&:hover {
				background-color: var(--color-background);
			}
		}
	}
}
