.tribe-common {
	/* -----------------------------------------------------------------------------
	 *
	 * Button: Icon
	 *
	 * Example:
	 * <button class="tribe-common-c-btn-icon tribe-common-c-btn-icon--filter">...</button>
	 * <a href="#" class="tribe-common-c-btn-icon tribe-common-c-btn-icon--filter">...</a>
	 *
	 * ----------------------------------------------------------------------------- */

	.tribe-common-c-btn-icon {
		@mixin button-global;
	}

	/* -----------------------------------------------------------------------------
	 *
	 * Button: Icon Border
	 *
	 * Example:
	 * <button class="tribe-common-c-btn-icon tribe-common-c-btn-icon--border tribe-common-c-btn-icon--filter">...</button>
	 * <a href="#" class="tribe-common-c-btn-icon tribe-common-c-btn-icon--border tribe-common-c-btn-icon--filter">...</a>
	 *
	 * ----------------------------------------------------------------------------- */

	.tribe-common-c-btn-icon--border {
		@mixin button-icon-border;
	}

	/* -----------------------------------------------------------------------------
	 * Button: Icon Caret Left
	 * ----------------------------------------------------------------------------- */

	/* -----------------------------------------------------------------------------
	 * Button: Icon Caret Right
	 * ----------------------------------------------------------------------------- */

	/* -----------------------------------------------------------------------------
	 * Button: Icon Filters
	 * ----------------------------------------------------------------------------- */

	/* -----------------------------------------------------------------------------
	 * Button: Icon Search
	 * ----------------------------------------------------------------------------- */

	/* -------------------------------------------------------------------------
	 *
	 * Button: Icon Border - Theme Overrides
	 *
	 * ------------------------------------------------------------------------- */

	/* -------------------------------------------------------------------------
	 * Theme Overrides - Twenty Seventeen
	 * ------------------------------------------------------------------------- */

	.tribe-theme-twentyseventeen & {

		.tribe-common-c-btn-icon--border {

			&:hover {
				background-color: var(--color-background);
			}
		}
	}
}
