.pods-ui-notice-front {
	border: 1px solid;
	margin: 10px 0;
	padding: 15px;

	&.pods-ui-notice-error {
		color: #790000;
		font-weight: bold;
	}

	&.pods-ui-notice-success {
		color: #4F8A10;
		background: #DFF2BF url(#{$ImagesPath}/green-check.png) no-repeat 10px center;
	}

	p {
		&:first-of-type {
			margin-top: 0;
		}

		&:last-of-type {
			margin-bottom: 0;
		}

		.pods-ui-notice-action-links {
			font-size: medium;
		}
	}
}

.pods-ui-notice-admin {
	background: #fff;
	border: 1px solid #c3c4c7;
	border-left-width: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
	margin: 5px 0 15px;
	padding: 1px 12px;

	&.pods-ui-notice-error {
		border-left-color: #d63638;
	}

	&.pods-ui-notice-warning {
		border-left-color: #dba617;
	}

	&.pods-ui-notice-success {
		border-left-color: #00a32a;
	}

	p {
		margin: .5em 0;
		padding: 2px;
	}
}

.pods-form-front-success {
	color: #4F8A10;
	border: 1px solid;
	margin: 10px 0;
	padding: 15px 10px 15px 50px;
	background: #DFF2BF url(#{$ImagesPath}/green-check.png) no-repeat 10px center;
}
