@keyframes loading {
	100% {
		transform: translateX(100%);
	}
}

.pods-dfv-field--unloaded {
	+ .description {
		display: none;
	}
}

.pods-dfv-field__loading-indicator {
	background: #f1f1f1;
	border: 1px solid #ccd0d4;
	display: block;
	height: 25px;
	position: relative;
	overflow: hidden;
	width: 100%;

	&::before {
		animation: loading 1.5s infinite;
		background: linear-gradient(to right, transparent, rgba(#444444, 0.6), transparent);
		content: '';
		display: block;
		height: 100%;
		position: absolute;
		transform: translateX(-100%);
		width: 100%;
	}
}

.pods-dfv-field--loaded {
	.pods-dfv-field__loading-indicator {
		display: none;
	}
}
