.pods-react-datetime-fix {

	.rdtPicker {
		position: sticky !important;
		max-width: 500px;
	}

	.rdtPicker td,
	.rdtPicker th {
		padding: 10px;
		vertical-align: middle;
	}

	.rdtPicker th.rdtNext,
	.rdtPicker th.rdtPrev {
		vertical-align: top;
		line-height: 1;
	}
}

.pods-field-option {
	.pods-form-ui-field.pods-form-ui-field-type-datetime,
	.pods-form-ui-field.pods-form-ui-field-type-date,
	.pods-form-ui-field.pods-form-ui-field-type-time {
		max-width: 300px;
	}
}

#side-sortables {
	.pods-field-option {
		.pods-form-ui-field.pods-form-ui-field-type-datetime,
		.pods-form-ui-field.pods-form-ui-field-type-date,
		.pods-form-ui-field.pods-form-ui-field-type-time {
			max-width: 100%;
		}
	}
}
