// List
.pods-list-select-values {
	background: #fff;
	margin: 0 0 5px 0;
	padding: 0;
	border-radius: 0;
	border: 1px solid #dfdfdf;

	&:empty {
		display: none;
	}
}

.pods-list-select-item--overlay {
	box-shadow: 0 0 0 3px rgba(63, 63, 68, 0.05),
	-1px 0 4px 0 rgba(34, 33, 81, 0.01),
	0px 4px 4px 0 rgba(34, 33, 81, 0.25);
}

.pods-list-select-values-container {
	margin-top: 10px;

	.pods-field-wrapper__repeatable {
		text-align: right;
	}
}

.pods-field-wrapper__repeatable .pods-field-wrapper__field {
	align-content: center;

	&.pods-list-select-item--draggable {
		padding: 8px 0;
	}

	&.pods-list-select-item--non-draggable {
		padding: 8px 0 8px 14px;
	}

	&.pods-list-select-item--large-icons {
		height: 150px;
	}

	&.pods-list-select-item--small-icons {
		height: 50px;
	}
}

.pods-list-select-item__inner {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
	margin: 0;
}

.pods-list-select-item__col {
	display: block;
	margin: 0;
	padding: 0;
	text-align: left;
}

.pods-list-select-item__icon {
	width: 50px;
	margin: 0 10px;
	font-size: 0; /* for aligning image */
	line-height: 50px;
	text-align: center;

	&.pods-list-select-item__icon--large {
		width: 150px;

		& > img {
			width: 150px;
		}
	}

	&:first-child {
		margin-left: 0;
	}

	& > img {
		display: inline-block;
		vertical-align: middle;
		float: none;
		border-radius: 2px;
		margin: 0;
		max-height: 100%;
		max-width: 100%;
		width: auto;
	}

	& > span.pods-list-select-item__icon--pinkynail {
		font-size: 50px;
		width: 50px;
		height: 50px;
	}
}

.pods-list-select-item__name {
	border-bottom: none;
	line-height: 24px;
	margin: 0;
	overflow: hidden;
	padding: 3px 0;
	user-select: none;
	flex-grow: 1;
	word-break: break-all;
}

.pods-list-select-item__name.pods-list-select-item__name-editable {
	overflow: inherit;
}

.pods-list-select-item__edit,
.pods-list-select-item__view {
	width: 25px;
}

.pods-list-select-item__link {
	display: block;
	opacity: 0.40;
	text-decoration: none;
	color: #616161;
}
