.pods-radio-pick,
.pods-checkbox-pick {
	background: #fff;
    margin: 0 0 5px 0;
    padding: 0;
    border-radius: 0;
    border: 1px solid #dfdfdf;
    overflow: hidden;
    max-height: 220px;
    overflow-y: auto;
}

.pods-radio-pick__option,
.pods-checkbox-pick__option {
	background-color: #fff;
    border-bottom: 1px solid #f4f4f4;
    line-height: 1em;
    margin: 0;
	padding: 0;

	&:nth-child(even) {
		background: #fcfcfc;
	}
}
