.tribe-common {
	/* -----------------------------------------------------------------------------
	 *
	 * Button: Border
	 *
	 * Example:
	 * <button class="tribe-common-c-btn-border">...</button>
	 * <a href="#" class="tribe-common-c-btn-border">...</a>
	 *
	 * ----------------------------------------------------------------------------- */

	.tribe-common-c-btn-border,
	a.tribe-common-c-btn-border {
		padding: 14px 20px 14px;
		width: 100%;

		@media (--viewport-medium) {
			padding: 6px 15px;
			width: auto;
		}
	}

	/* -------------------------------------------------------------------------
	 *
	 * Button: Border - Theme Overrides
	 *
	 * ------------------------------------------------------------------------- */
}
