.tribe-common {
	/* -----------------------------------------------------------------------------
	 *
	 * Button: Solid
	 *
	 * Example:
	 * <button class="tribe-common-c-btn">...</button>
	 * <a href="#" class="tribe-common-c-btn">...</a>
	 *
	 * ----------------------------------------------------------------------------- */

	.tribe-common-c-btn,
	a.tribe-common-c-btn {
		padding: 11px 20px 11px;
		width: 100%;

		@media (--viewport-medium) {
			width: auto;
		}
	}

	/* -------------------------------------------------------------------------
	 *
	 * Button: Solid - Theme Overrides
	 *
	 * ------------------------------------------------------------------------- */
}
