.tribe-common {
	/* -----------------------------------------------------------------------------
	 * Hide from screenreaders & browsers
	 * ----------------------------------------------------------------------------- */

	.tribe-common-a11y-hidden {
		@mixin hidden;
	}

	/* -----------------------------------------------------------------------------
	 * Hide from browsers & show for screenreaders
	 * ----------------------------------------------------------------------------- */

	.tribe-common-a11y-visual-hide {
		@mixin visually-hide;
	}

	/* -----------------------------------------------------------------------------
	 * Show for browsers & screenreaders
	 * ----------------------------------------------------------------------------- */

	.tribe-common-a11y-visual-show {
		@mixin visually-hide;
	}
}
