.tribe-common {
	/* -------------------------------------------------------------------------
	 *
	 * Body
	 *
	 * Example:
	 * <p class="tribe-common-b1">Text here</p>
	 *
	 * ------------------------------------------------------------------------- */

	/* -------------------------------------------------------------------------
	 * Body 1
	 * ------------------------------------------------------------------------- */

	.tribe-common-b1 {
		@mixin mobile-body-1;

		@media (--viewport-medium) {
			@mixin desktop-body-1-sup;
		}
	}

	.tribe-common-b1--bold {
		font-weight: var(--font-weight-bold);
	}

	/* -------------------------------------------------------------------------
	 * Body 2
	 * ------------------------------------------------------------------------- */

	.tribe-common-b2 {
		@mixin mobile-body-2;

		@media (--viewport-medium) {
			@mixin desktop-body-2-sup;
		}
	}

	.tribe-common-b2--bold {
		font-weight: var(--font-weight-bold);
	}

	/* -------------------------------------------------------------------------
	 * Body 3
	 * ------------------------------------------------------------------------- */

	.tribe-common-b3 {
		@mixin mobile-body-3;

		@media (--viewport-medium) {
			@mixin desktop-body-3-sup;
		}
	}

	.tribe-common-b3--bold {
		font-weight: var(--font-weight-bold);
	}

	/* -------------------------------------------------------------------------
	 * Body 1 for --viewport-medium
	 * ------------------------------------------------------------------------- */

	.tribe-common-b1--min-medium {
		@media (--viewport-medium) {
			@mixin desktop-body-1-sup;
		}
	}

	/* -------------------------------------------------------------------------
	 * Body 2 for --viewport-medium
	 * ------------------------------------------------------------------------- */

	.tribe-common-b2--min-medium {
		@media (--viewport-medium) {
			@mixin desktop-body-2-sup;
		}
	}

	/* -------------------------------------------------------------------------
	 * Body 3 for --viewport-medium
	 * ------------------------------------------------------------------------- */

	.tribe-common-b3--min-medium {
		@media (--viewport-medium) {
			@mixin desktop-body-3-sup;
		}
	}
}
