.tribe-common {
	/* -------------------------------------------------------------------------
	 *
	 * CTA
	 *
	 * Example:
	 * <a class="tribe-common-cta">Link Text</a>
	 * <a class="tribe-common-cta tribe-common-cta--alt">Link Text Alt</a>
	 *
	 * ------------------------------------------------------------------------- */

	.tribe-common-cta {
		@mixin desktop-body-3-bold;
		@mixin anchor-default;
	}

	.tribe-common-cta--alt {
		@mixin anchor-alt;
	}

	.tribe-common-cta--thin-alt {
		@mixin anchor-thin-alt;
	}

	/* -------------------------------------------------------------------------
	 *
	 * CTA: Theme Overrides
	 *
	 * ------------------------------------------------------------------------- */

	/* -------------------------------------------------------------------------
	 * Theme Overrides - Twenty Seventeen
	 * ------------------------------------------------------------------------- */

	.tribe-theme-twentyseventeen & {

		.tribe-common-cta--alt,
		.tribe-common-cta--thin-alt {

			&:hover,
			&:focus {
				color: var(--color-accent-primary);
			}
		}
	}
}
