.tribe-common {
	/* -------------------------------------------------------------------------
	 *
	 * Heading
	 *
	 * Example:
	 * <h1 class="tribe-common-h1">Heading Text</h1>
	 *
	 * ------------------------------------------------------------------------- */

	/* -------------------------------------------------------------------------
	 * Heading: h1
	 * ------------------------------------------------------------------------- */

	.tribe-common-h1 {
		@mixin heading;
		@mixin mobile-heading-1;

		@media (--viewport-medium) {
			@mixin desktop-heading-1;
		}
	}

	/* -------------------------------------------------------------------------
	 * Heading: h2
	 * ------------------------------------------------------------------------- */

	.tribe-common-h2 {
		@mixin heading;
		@mixin mobile-heading-2;

		@media (--viewport-medium) {
			@mixin desktop-heading-2;
		}
	}

	/* -------------------------------------------------------------------------
	 * Heading: h3
	 * ------------------------------------------------------------------------- */

	.tribe-common-h3 {
		@mixin heading;
		@mixin mobile-heading-3;

		@media (--viewport-medium) {
			@mixin desktop-heading-3;
		}
	}

	/* -------------------------------------------------------------------------
	 * Heading: h4
	 * ------------------------------------------------------------------------- */

	.tribe-common-h4 {
		@mixin heading;
		@mixin mobile-heading-4;

		@media (--viewport-medium) {
			@mixin desktop-heading-4;
		}
	}

	/* -------------------------------------------------------------------------
	 * Heading: h5
	 * ------------------------------------------------------------------------- */

	.tribe-common-h5 {
		@mixin heading;
		@mixin heading-5;
	}

	/* -------------------------------------------------------------------------
	 * Heading: h6
	 * ------------------------------------------------------------------------- */

	.tribe-common-h6 {
		@mixin heading;
		@mixin mobile-heading-6;

		@media (--viewport-medium) {
			@mixin desktop-heading-6;
		}
	}

	/* -------------------------------------------------------------------------
	 * Heading: h7
	 * ------------------------------------------------------------------------- */

	.tribe-common-h7 {
		@mixin heading;
		@mixin heading-7;
	}

	/* -------------------------------------------------------------------------
	 * Heading: h8
	 * ------------------------------------------------------------------------- */

	.tribe-common-h8 {
		@mixin heading;
		@mixin heading-8;
	}

	/* -------------------------------------------------------------------------
	 * Heading: h3 for --viewport-medium
	 * ------------------------------------------------------------------------- */

	.tribe-common-h3--min-medium {
		@media (--viewport-medium) {
			@mixin desktop-heading-3;
		}
	}

	/* -------------------------------------------------------------------------
	 * Heading: h4 for --viewport-medium
	 * ------------------------------------------------------------------------- */

	.tribe-common-h4--min-medium {
		@media (--viewport-medium) {
			@mixin desktop-heading-4;
		}
	}

	/* -------------------------------------------------------------------------
	 * Heading: h5 for --viewport-medium
	 * ------------------------------------------------------------------------- */

	.tribe-common-h5--min-medium {
		@media (--viewport-medium) {
			@mixin heading-5;
		}
	}

	/* -------------------------------------------------------------------------
	 * Heading: h6 for --viewport-medium
	 * ------------------------------------------------------------------------- */

	.tribe-common-h6--min-medium {
		@media (--viewport-medium) {
			@mixin desktop-heading-6;
		}
	}

	/* -------------------------------------------------------------------------
	 * Heading: h7 for --viewport-medium
	 * ------------------------------------------------------------------------- */

	.tribe-common-h7--min-medium {
		@media (--viewport-medium) {
			@mixin heading-7;
		}
	}

	/* -------------------------------------------------------------------------
	 * Heading: alt style
	 * ------------------------------------------------------------------------- */

	.tribe-common-h--alt {
		font-weight: var(--font-weight-regular);
	}

	/* -------------------------------------------------------------------------
	 *
	 * Heading: Theme Overrides
	 *
	 * ------------------------------------------------------------------------- */

	/* -------------------------------------------------------------------------
	 * Theme Overrides - Avada
	 * ------------------------------------------------------------------------- */

	 .tribe-theme-avada #main & {

		/* -------------------------------------------------------------------------
		 * Heading: h1
		 * ------------------------------------------------------------------------- */

		.tribe-common-h1 {
			@mixin heading;
			@mixin mobile-heading-1;

			@media (--viewport-medium) {
				@mixin desktop-heading-1;
			}
		}

		/* -------------------------------------------------------------------------
		 * Heading: h2
		 * ------------------------------------------------------------------------- */

		.tribe-common-h2 {
			@mixin heading;
			@mixin mobile-heading-2;

			@media (--viewport-medium) {
				@mixin desktop-heading-2;
			}
		}

		/* -------------------------------------------------------------------------
		 * Heading: h3
		 * ------------------------------------------------------------------------- */

		.tribe-common-h3 {
			@mixin heading;
			@mixin mobile-heading-3;

			@media (--viewport-medium) {
				@mixin desktop-heading-3;
			}
		}

		/* -------------------------------------------------------------------------
		 * Heading: h4
		 * ------------------------------------------------------------------------- */

		.tribe-common-h4 {
			@mixin heading;
			@mixin mobile-heading-4;

			@media (--viewport-medium) {
				@mixin desktop-heading-4;
			}
		}

		/* -------------------------------------------------------------------------
		 * Heading: h5
		 * ------------------------------------------------------------------------- */

		.tribe-common-h5 {
			@mixin heading;
			@mixin heading-5;
		}

		/* -------------------------------------------------------------------------
		 * Heading: h6
		 * ------------------------------------------------------------------------- */

		.tribe-common-h6 {
			@mixin heading;
			@mixin mobile-heading-6;

			@media (--viewport-medium) {
				@mixin desktop-heading-6;
			}
		}

		/* -------------------------------------------------------------------------
		 * Heading: h7
		 * ------------------------------------------------------------------------- */

		.tribe-common-h7 {
			@mixin heading;
			@mixin heading-7;
		}

		/* -------------------------------------------------------------------------
		 * Heading: h8
		 * ------------------------------------------------------------------------- */

		.tribe-common-h8 {
			@mixin heading;
			@mixin heading-8;
		}

		/* -------------------------------------------------------------------------
		 * Heading: h3 for --viewport-medium
		 * ------------------------------------------------------------------------- */

		.tribe-common-h3--min-medium {
			@media (--viewport-medium) {
				@mixin desktop-heading-3;
			}
		}

		/* -------------------------------------------------------------------------
		 * Heading: h4 for --viewport-medium
		 * ------------------------------------------------------------------------- */

		.tribe-common-h4--min-medium {
			@media (--viewport-medium) {
				@mixin desktop-heading-4;
			}
		}

		/* -------------------------------------------------------------------------
		 * Heading: h5 for --viewport-medium
		 * ------------------------------------------------------------------------- */

		.tribe-common-h5--min-medium {
			@media (--viewport-medium) {
				@mixin heading-5;
			}
		}

		/* -------------------------------------------------------------------------
		 * Heading: h6 for --viewport-medium
		 * ------------------------------------------------------------------------- */

		.tribe-common-h6--min-medium {
			@media (--viewport-medium) {
				@mixin desktop-heading-6;
			}
		}

		/* -------------------------------------------------------------------------
		 * Heading: h7 for --viewport-medium
		 * ------------------------------------------------------------------------- */

		.tribe-common-h7--min-medium {
			@media (--viewport-medium) {
				@mixin heading-7;
			}
		}

		/* -------------------------------------------------------------------------
		 * Heading: alt style
		 * ------------------------------------------------------------------------- */

		.tribe-common-h--alt {
			font-weight: var(--font-weight-regular);
		}
	}
}
