.tribe-common {
	/* -------------------------------------------------------------------------
	 * Lists
	 * ------------------------------------------------------------------------- */

	/* -----------------------------------------------------------------------------
	 *
	 * Lists: Theme Overrides
	 *
	 * ----------------------------------------------------------------------------- */
}
