/* .tribe-theme-avada { */

	/* -------------------------------------------------------------------------
	 * Reset Full Theme Overrides - Avada
	 * ------------------------------------------------------------------------- */

/* } */
