/* .tribe-theme-divi { */

	/* -------------------------------------------------------------------------
	 * Reset Full Theme Overrides - Divi
	 * ------------------------------------------------------------------------- */

/* } */
