/* #top.tribe-theme-enfold .tribe-common { */

	/* -------------------------------------------------------------------------
	 * Reset Full Theme Overrides - Enfold
	 * ------------------------------------------------------------------------- */

/* } */
