/* .tribe-theme-genesis { */

	/* -------------------------------------------------------------------------
	 * Reset Full Theme Overrides - Genesis
	 * ------------------------------------------------------------------------- */

/* } */
