.tribe-theme-twentyseventeen .tribe-common {

	/* -------------------------------------------------------------------------
	 * Reset Full Theme Overrides - Twenty Seventeen
	 * ------------------------------------------------------------------------- */

	h5 {
		letter-spacing: normal;
		text-transform: none;
	}

	input[type="text"] {
		border-radius: 0;
	}
}
