.tribe-theme-twentynineteen .tribe-common {

	/* -------------------------------------------------------------------------
	 * Reset Full Theme Overrides - Twenty Nineteen
	 * ------------------------------------------------------------------------- */

	h1,
	h2 {

		&:before {
			content: none;
		}
	}

	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"] {
		outline: none;
	}

	th,
	td {
		word-break: normal;
	}
}
