.tribe-common {

	a {
		cursor: pointer;
	}

	/* -------------------------------------------------------------------------
	 *
	 * Anchor: Theme Overrides
	 *
	 * ------------------------------------------------------------------------- */

	/* -------------------------------------------------------------------------
	 *
	 * Anchor
	 *
	 * Example:
	 * <a class="tribe-common-anchor">Anchor Text</a>
	 * <a class="tribe-common-anchor-alt">Anchor Alt Text</a>
	 * <a class="tribe-common-anchor-thin">Anchor Thin Text</a>
	 *
	 * ------------------------------------------------------------------------- */

	/* -------------------------------------------------------------------------
	 *
	 * Anchor: Theme Overrides
	 *
	 * ------------------------------------------------------------------------- */
}
