/* .tribe-common { */
	/* -------------------------------------------------------------------------
	 *
	 * Body
	 *
	 * Example:
	 * <p class="tribe-common-b1">Text here</p>
	 *
	 * ------------------------------------------------------------------------- */

	/* -------------------------------------------------------------------------
	 * Body 1
	 * ------------------------------------------------------------------------- */

	/* -------------------------------------------------------------------------
	 * Body 2
	 * ------------------------------------------------------------------------- */

	/* -------------------------------------------------------------------------
	 * Body 3
	 * ------------------------------------------------------------------------- */

	/* -------------------------------------------------------------------------
	 * Body 1 for --viewport-medium
	 * ------------------------------------------------------------------------- */

	/* -------------------------------------------------------------------------
	 * Body 2 for --viewport-medium
	 * ------------------------------------------------------------------------- */

	/* -------------------------------------------------------------------------
	 * Body 3 for --viewport-medium
	 * ------------------------------------------------------------------------- */
/* } */
