/* .tribe-common { */
	/* -------------------------------------------------------------------------
	 *
	 * CTA
	 *
	 * Example:
	 * <a class="tribe-common-cta">Link Text</a>
	 * <a class="tribe-common-cta tribe-common-cta--alt">Link Text Alt</a>
	 *
	 * ------------------------------------------------------------------------- */

	/* -------------------------------------------------------------------------
	 *
	 * CTA: Theme Overrides
	 *
	 * ------------------------------------------------------------------------- */
/* } */
