/* .tribe-common { */
	/* -------------------------------------------------------------------------
	 *
	 * Heading
	 *
	 * Example:
	 * <h1 class="tribe-common-h1">Heading Text</h1>
	 *
	 * ------------------------------------------------------------------------- */

	/* -------------------------------------------------------------------------
	 * Heading: h1
	 * ------------------------------------------------------------------------- */

	/* -------------------------------------------------------------------------
	 * Heading: h2
	 * ------------------------------------------------------------------------- */

	/* -------------------------------------------------------------------------
	 * Heading: h3
	 * ------------------------------------------------------------------------- */

	/* -------------------------------------------------------------------------
	 * Heading: h4
	 * ------------------------------------------------------------------------- */

	/* -------------------------------------------------------------------------
	 * Heading: h5
	 * ------------------------------------------------------------------------- */

	/* -------------------------------------------------------------------------
	 * Heading: h6
	 * ------------------------------------------------------------------------- */

	/* -------------------------------------------------------------------------
	 * Heading: h7
	 * ------------------------------------------------------------------------- */

	/* -------------------------------------------------------------------------
	 * Heading: h8
	 * ------------------------------------------------------------------------- */

	/* -------------------------------------------------------------------------
	 * Heading: h3 for --viewport-medium
	 * ------------------------------------------------------------------------- */

	/* -------------------------------------------------------------------------
	 * Heading: h4 for --viewport-medium
	 * ------------------------------------------------------------------------- */

	/* -------------------------------------------------------------------------
	 * Heading: h5 for --viewport-medium
	 * ------------------------------------------------------------------------- */

	/* -------------------------------------------------------------------------
	 * Heading: h6 for --viewport-medium
	 * ------------------------------------------------------------------------- */

	/* -------------------------------------------------------------------------
	 * Heading: h7 for --viewport-medium
	 * ------------------------------------------------------------------------- */

	/* -------------------------------------------------------------------------
	 * Heading: alt style
	 * ------------------------------------------------------------------------- */

	/* -------------------------------------------------------------------------
	 *
	 * Heading: Theme Overrides
	 *
	 * ------------------------------------------------------------------------- */
/* } */
