.tribe-common {
	/* -------------------------------------------------------------------------
	 * Lists
	 * ------------------------------------------------------------------------- */

	/* -----------------------------------------------------------------------------
	 *
	 * Lists: Theme Overrides
	 *
	 * ----------------------------------------------------------------------------- */

	/* -------------------------------------------------------------------------
	 * Theme Overrides - Divi
	 * ------------------------------------------------------------------------- */

	.tribe-theme-divi #left-area & ul,
	.tribe-theme-divi .entry-content & ul,
	body.et-pb-preview.tribe-theme-divi #main-content .container & ul {
		list-style-type: none;
		padding: 0;
	}
}
