:root {
	--error-border-color: #dc3232;
}


.tribe-validation {
	input[type="text"],
	input[type="password"],
	input[type="checkbox"],
	input[type="color"],
	input[type="date"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="email"],
	input[type="month"],
	input[type="number"],
	input[type="search"],
	input[type="radio"],
	input[type="tel"],
	input[type="text"],
	input[type="time"],
	input[type="url"],
	input[type="week"],
	select,
	textarea {
		&.tribe-validation-error {
			border-color: var(--error-border-color);
		}
	}

	.tribe-dropdown.tribe-validation-error{
		.select2-choice {
			border-color: var(--error-border-color);
		}
	}
}