.tribe-editor__placeholder {
	border: 2px dashed #E1E3E6;
	padding: 12px 15px 14px;
	text-align: center;
	font-family: 'Helvetica', 'Arial', 'sans-serif';
	font-size: 1rem;
	line-height: 1.5;
	font-weight: bold;
	color: #8D949B;
	min-width: 260px;
	display: inline-block;
}
