.components-tooltip {

	.components-popover__content {
		white-space: normal;
		min-width: 350px;
		max-width: 600px;
	}

	&:not(.is-mobile) {
		.components-popover__content {
			min-width: 350px;
		}
	}
}