/* .tribe-common { */
	/* -----------------------------------------------------------------------------
	 *
	 * Grid: Rows
	 *
	 * Example:
	 * <div class="g-row">
	 *   <div class="g-col">
	 *     <p>Component or another grid layout, perhaps?</p>
	 *   </div>
	 * </div>
	 *
	 * ----------------------------------------------------------------------------- */
/* } */
