.editor-block-inspector__card {
	.tribe-editor__icons__container {
		padding: 4px;
		display: flex;
		align-items: center;
		justify-content: center;

		svg {
			width: 28px;
			height: 28px;
		}
	}

	.tribe-editor__icons--tec {
		background-color: #199FD1;
	}
}


button[class^='editor-block-list-item-tribe-'], button[class*=' editor-block-list-item-tribe-'] {
	svg {
		color:  #16a0d6;
	}
}