<input name="<%- htmlAttr.name %>[<%= ordinal %>]"
		data-name-clean="<%- htmlAttr.name_clean %>"
		id="<%- htmlAttr.id %><%= ordinal %>"
		type="hidden"
		value="<%- id %>">
<ul class="pods-dfv-list-meta relationship-item">
	<% if ( 1 != fieldConfig.pick_limit ) { %>
		<li class="pods-dfv-list-col pods-dfv-list-handle"><span><%- PodsI18n.__( 'Reorder' ) %></span></li>
	<% } %>
	<% if ( 1 == fieldConfig.pick_show_icon && '' != icon ) { %>
		<li class="pods-dfv-list-col pods-dfv-list-icon">
			<% if ( use_dashicon ) { %>
			<span class="pinkynail dashicons <%- icon %>"></span>
			<% } else { %>
			<img class="pinkynail" src="<%- icon %>" alt="Icon">
			<% } %>
		</li>
	<% } %>
	<li class="pods-dfv-list-col pods-dfv-list-name">
		<%= name %>
	</li>
	<li class="pods-dfv-list-col pods-dfv-list-remove"><a href="#remove" title="<%- PodsI18n.__( 'Deselect' ) %>"><%- PodsI18n.__( 'Deselect' ) %></a></li>
	<% if ( 1 == fieldConfig.pick_show_view_link && '' != link ) { %>
		<li class="pods-dfv-list-col pods-dfv-list-link"><a href="<%- link %>" title="<%- PodsI18n.__( 'View' ) %>"  target="_blank"><%- PodsI18n.__( 'View' ) %></a></li>
	<% } %>
	<% if ( 1 == fieldConfig.pick_show_edit_link && '' != edit_link ) { %>
		<li class="pods-dfv-list-col pods-dfv-list-edit"><a href="<%- edit_link %>" title="<%- PodsI18n.__( 'Edit' ) %>" target="_blank"><%- PodsI18n.__( 'Edit' ) %></a></li>
	<% } %>
</ul>
