:root {
	/* -----------------------------------------------------------------------------
	 * Box Shadows
	 * ----------------------------------------------------------------------------- */

	--box-shadow-default: 0 2px 5px 0 var(--color-box-shadow);
	--box-shadow-tooltip: 0 2px 12px 0 var(--color-box-shadow);
	--box-shadow-card: 0 1px 6px 2px var(--color-box-shadow);
	--box-shadow-multiday: 16px 6px 6px -2px var(--color-box-shadow);
}

