:root {
	/* -----------------------------------------------------------------------------
	 * Colors - Typography
	 * ----------------------------------------------------------------------------- */

	--color-text-primary: #141827;
	--color-text-secondary: #727272;
	--color-text-disabled: #D5D5D5;

	/* -----------------------------------------------------------------------------
	 * Colors - Iconography
	 * ----------------------------------------------------------------------------- */

	--color-icon-primary: #727272;
	--color-icon-secondary: #BABABA;
	--color-icon-active: #141827;
	--color-icon-disabled: #D5D5D5;
	--color-icon-focus: #334AFF;

	/* -----------------------------------------------------------------------------
	 * Colors - UI
	 * ----------------------------------------------------------------------------- */

	--color-accent-primary: #334AFF;
	--color-accent-primary-hover: rgba(var(--color-accent-primary), 0.8);
	--color-accent-primary-active: rgba(var(--color-accent-primary), 0.9);
	--color-accent-primary-background: rgba(var(--color-accent-primary), 0.07);
	--color-accent-primary-multiday: rgba(var(--color-accent-primary), 0.24);
	--color-accent-primary-multiday-hover: rgba(var(--color-accent-primary), 0.34);
	--color-accent-primary-week-event: rgba(var(--color-accent-primary), 0.1);
	--color-accent-primary-week-event-hover: rgba(var(--color-accent-primary), 0.2);
	--color-accent-primary-week-event-featured: rgba(var(--color-accent-primary), 0.04);
	--color-accent-primary-week-event-featured-hover: rgba(var(--color-accent-primary), 0.14);
	--color-accent-secondary: #141827;
	--color-accent-secondary-hover: rgba(var(--color-accent-secondary), 0.8);
	--color-accent-secondary-active: rgba(var(--color-accent-secondary), 0.9);
	--color-accent-secondary-background: rgba(var(--color-accent-secondary), 0.07);

	/* -----------------------------------------------------------------------------
	 * Colors - Borders & Misc
	 * ----------------------------------------------------------------------------- */

	--color-border-default: #D5D5D5;
	--color-border-secondary: #E4E4E4;
	--color-border-hover: #727272;
	--color-border-active: #141827;
	--color-background: #FFFFFF;
	--color-background-transparent: rgba(var(--color-background), 0.6);
	--color-background-secondary: #F7F6F6;
	--color-background-messages: rgba(var(--color-text-primary), 0.07);
	--color-background-secondary-hover: #F0EEEE;
	--color-box-shadow: rgba(#000000, 0.14);
	--color-scroll-track: rgba(#000000, 0.25);
	--color-scroll-bar: rgba(#000000, 0.5);

}
