:root {
	/* -----------------------------------------------------------------------------
	 * Forms - Colors
	 * ----------------------------------------------------------------------------- */

	--form-color-background: var(--color-background);
	--form-color-border-default: var(--color-text-primary);
	--form-color-border-active: var(--color-accent-secondary);
	--form-color-border-secondary: var(--color-text-disabled);
	--form-color-accent-primary: var(--color-accent-primary);

	/* -----------------------------------------------------------------------------
	 * Forms - Box Shadows
	 * ----------------------------------------------------------------------------- */

	--form-box-shadow-default: var(--box-shadow-default);
}

