:root {
	/* -----------------------------------------------------------------------------
	 * Gutter - Default
	 * ----------------------------------------------------------------------------- */

	--grid-gutter: 48px;
	--grid-gutter-negative: calc(var(--grid-gutter) * -1);
	--grid-gutter-half: calc(var(--grid-gutter) / 2);
	--grid-gutter-half-negative: calc(var(--grid-gutter-half) * -1);
	--grid-gutter-small: 42px;
	--grid-gutter-small-negative: calc(var(--grid-gutter-small) * -1);
	--grid-gutter-small-half: calc(var(--grid-gutter-small) / 2);
	--grid-gutter-small-half-negative: calc(var(--grid-gutter-small-half) * -1);

	/* -----------------------------------------------------------------------------
	 * Gutter - Page
	 * ----------------------------------------------------------------------------- */

	--grid-gutter-page: 42px;
	--grid-gutter-page-small: 19.5px;

	/* -----------------------------------------------------------------------------
	 * Grid Width - Default
	 * ----------------------------------------------------------------------------- */

	--grid-width-default: 1176px;
	--grid-width-min: 320px;
	--grid-width: calc(var(--grid-width-default) + 2 * var(--grid-gutter-page));

	/* -----------------------------------------------------------------------------
	 * Grid Width - Relative
	 * ----------------------------------------------------------------------------- */

	--grid-width-1-of-2: 50%;
	--grid-width-1-of-3: 33.333%;
	--grid-width-1-of-4: 25%;
	--grid-width-1-of-7: 14.285%;
	--grid-width-1-of-8: 12.5%;
	--grid-width-1-of-9: 11.111%;
}
