:root {
	/* -----------------------------------------------------------------------------
	 * Spacers
	 * ----------------------------------------------------------------------------- */

	--spacer-0: 4px;
	--spacer-1: 8px;
	--spacer-2: 12px;
	--spacer-3: 16px;
	--spacer-4: 20px;
	--spacer-5: 24px;
	--spacer-6: 28px;
	--spacer-7: 32px;
	--spacer-8: 40px;
	--spacer-9: 48px;
	--spacer-10: 56px;
	--spacer-11: 64px;
	--spacer-12: 80px;
	--spacer-13: 96px;
	--spacer-14: 160px;
}
