/* -----------------------------------------------------------------------------
 * SVG - Arrow Right
 * ----------------------------------------------------------------------------- */

@svg-load arrow-right-active url('../icons/arrow-right.svg') {

	path {
		fill: var(--color-icon-active);
	}
}

@svg-load arrow-right-secondary url('../icons/arrow-right.svg') {

	path {
		fill: var(--color-icon-secondary);
	}
}

@svg-load arrow-right-white url('../icons/arrow-right.svg') {

	path {
		fill: var(--color-background);
	}
}

/* -----------------------------------------------------------------------------
 * SVG - Caret Down
 * ----------------------------------------------------------------------------- */

@svg-load caret-down url('../icons/caret-down.svg') {

	path {
		fill: var(--color-icon-active);
	}
}

/* -----------------------------------------------------------------------------
 * SVG - Caret Left
 * ----------------------------------------------------------------------------- */

@svg-load caret-left url('../icons/caret-left.svg') {

	path {
		fill: var(--color-icon-primary);
	}
}

@svg-load caret-left-active url('../icons/caret-left.svg') {

	path {
		fill: var(--color-icon-active);
	}
}

@svg-load caret-left-disabled url('../icons/caret-left.svg') {

	path {
		fill: var(--color-icon-disabled);
	}
}

@svg-load caret-left-secondary url('../icons/caret-left.svg') {

	path {
		fill: var(--color-icon-secondary);
	}
}

/* -----------------------------------------------------------------------------
 * SVG - Caret Right
 * ----------------------------------------------------------------------------- */

@svg-load caret-right url('../icons/caret-right.svg') {

	path {
		fill: var(--color-icon-primary);
	}
}

@svg-load caret-right-active url('../icons/caret-right.svg') {

	path {
		fill: var(--color-icon-active);
	}
}

@svg-load caret-right-disabled url('../icons/caret-right.svg') {

	path {
		fill: var(--color-icon-disabled);
	}
}

@svg-load caret-right-secondary url('../icons/caret-right.svg') {

	path {
		fill: var(--color-icon-secondary);
	}
}

/* -----------------------------------------------------------------------------
 * SVG - Caret Up
 * ----------------------------------------------------------------------------- */

@svg-load caret-up url('../icons/caret-up.svg') {

	path {
		fill: var(--color-icon-active);
	}
}

/* -----------------------------------------------------------------------------
 * SVG - Check
 * ----------------------------------------------------------------------------- */

@svg-load check-white url('../icons/check.svg') {

	path {
		fill: var(--color-background);
	}
}

/* -----------------------------------------------------------------------------
 * SVG - Close
 * ----------------------------------------------------------------------------- */

@svg-load close url('../icons/close.svg') {

	path {
		stroke: var(--color-icon-primary);
	}
}

@svg-load close-secondary url('../icons/close.svg') {

	path {
		stroke: var(--color-icon-secondary);
	}
}

/* -----------------------------------------------------------------------------
 * SVG - Day
 * ----------------------------------------------------------------------------- */

@svg-load day url('../icons/day.svg') {

	path {
		fill: var(--color-icon-active);
	}
}

/* -----------------------------------------------------------------------------
 * SVG - Dropdown
 * ----------------------------------------------------------------------------- */

@svg-load dropdown url('../icons/dropdown.svg') {

	path {
		fill: var(--color-icon-primary);
	}
}

/* -----------------------------------------------------------------------------
 * SVG - Featured
 * ----------------------------------------------------------------------------- */

@svg-load featured url('../icons/featured-event.svg') {

	path {
		fill: var(--color-accent-primary);
	}
}

@svg-load featured-active url('../icons/featured-event.svg') {

	path {
		fill: var(--color-icon-active);
	}
}

@svg-load featured-white url('../icons/featured-event.svg') {

	path {
		fill: var(--color-background);
	}
}

/* -----------------------------------------------------------------------------
 * SVG - Filters
 * ----------------------------------------------------------------------------- */

@svg-load filters url('../icons/filters.svg') {

	path {
		stroke: var(--color-icon-primary);
	}

	circle {
		stroke: var(--color-icon-primary);
	}
}

@svg-load filters-active url('../icons/filters.svg') {

	path {
		stroke: var(--color-icon-active);
	}

	circle {
		stroke: var(--color-icon-active);
	}
}

@svg-load filters-disabled url('../icons/filters.svg') {

	path {
		stroke: var(--color-icon-disabled);
	}

	circle {
		stroke: var(--color-icon-disabled);
	}
}

/* -----------------------------------------------------------------------------
 * SVG - List
 * ----------------------------------------------------------------------------- */

@svg-load list url('../icons/list.svg') {

	path {
		fill: var(--color-icon-active);
	}
}

/* -----------------------------------------------------------------------------
 * SVG - Location
 * ----------------------------------------------------------------------------- */

@svg-load location url('../icons/location.svg') {

	path {
		fill: var(--color-icon-primary);
	}
}

@svg-load location-active url('../icons/location.svg') {

	path {
		fill: var(--color-icon-active);
	}
}

@svg-load location-disabled url('../icons/location.svg') {

	path {
		fill: var(--color-icon-disabled);
	}
}

@svg-load location-focus url('../icons/location.svg') {

	path {
		fill: var(--color-icon-focus);
	}
}

/* -----------------------------------------------------------------------------
 * SVG - Map
 * ----------------------------------------------------------------------------- */

@svg-load map url('../icons/map.svg') {

	path {
		stroke: var(--color-icon-active);
	}
}

/* -----------------------------------------------------------------------------
 * SVG - Messages
 * ----------------------------------------------------------------------------- */

@svg-load messages-not-found url('../icons/messages-not-found.svg') {}

/* -----------------------------------------------------------------------------
 * SVG - Month
 * ----------------------------------------------------------------------------- */

@svg-load month url('../icons/month.svg') {

	path {
		fill: var(--color-icon-active);
	}
}

/* -----------------------------------------------------------------------------
 * SVG - No Map
 * ----------------------------------------------------------------------------- */

@svg-load no-map url('../icons/no-map.svg') {}

/* -----------------------------------------------------------------------------
 * SVG - Photo
 * ----------------------------------------------------------------------------- */

@svg-load photo url('../icons/photo.svg') {

	path {
		fill: var(--color-icon-active);
	}
}

/* -----------------------------------------------------------------------------
 * SVG - Recurring
 * ----------------------------------------------------------------------------- */

@svg-load recurring url('../icons/recurring-events.svg') {

	path {
		fill: var(--color-accent-primary);
	}
}

@svg-load recurring-active url('../icons/recurring-events.svg') {

	path {
		fill: var(--color-icon-active);
	}
}

/* -----------------------------------------------------------------------------
 * SVG - Reset
 * ----------------------------------------------------------------------------- */

@svg-load reset url('../icons/reset.svg') {

	path {
		stroke: var(--color-icon-primary);
	}
}

@svg-load reset-active url('../icons/reset.svg') {

	path {
		stroke: var(--color-icon-active);
	}
}

@svg-load reset-disabled url('../icons/reset.svg') {

	path {
		stroke: var(--color-icon-disabled);
	}
}

/* -----------------------------------------------------------------------------
 * SVG - Search
 * ----------------------------------------------------------------------------- */

@svg-load search url('../icons/search.svg') {

	path {
		fill: var(--color-icon-primary);
	}
}

@svg-load search-active url('../icons/search.svg') {

	path {
		fill: var(--color-icon-active);
	}
}

@svg-load search-disabled url('../icons/search.svg') {

	path {
		fill: var(--color-icon-disabled);
	}
}

@svg-load search-focus url('../icons/search.svg') {

	path {
		fill: var(--color-icon-focus);
	}
}

/* -----------------------------------------------------------------------------
 * SVG - Search Filter
 * ----------------------------------------------------------------------------- */

@svg-load search-filter url('../icons/search-filter.svg') {

	path {
		fill: var(--color-icon-active);
	}

	circle {
		stroke: var(--color-icon-active);
	}
}

/* -----------------------------------------------------------------------------
 * SVG - Week
 * ----------------------------------------------------------------------------- */

@svg-load week url('../icons/week.svg') {

	path {
		fill: var(--color-icon-active);
	}
}
