:root {
	/* -----------------------------------------------------------------------------
	 * Transitions
	 * ----------------------------------------------------------------------------- */

	--transition-background-color: background-color 0.2s ease;
	--transition-color-border-color: color 0.2s ease, border-color 0.2s ease;
	--transition-transform: transform 0.2s ease;
	--transition-border-color: border-color 0.2s ease;
	--transition-color: color 0.2s ease;
	--transition-opacity: opacity 0.2s ease;
}
