:root {
	/* -----------------------------------------------------------------------------
	 * Font Stacks
	 * ----------------------------------------------------------------------------- */

	--font-family-sans-serif: "Helvetica Neue", Helvetica, -apple-system, BlinkMacSystemFont, Roboto, Arial, sans-serif;
	--font-family-base: var(--font-family-sans-serif);

	/* -----------------------------------------------------------------------------
	 * Font Weights
	 * ----------------------------------------------------------------------------- */

	--font-weight-regular: 400;
	--font-weight-bold: 700;

	/* -----------------------------------------------------------------------------
	 * Font Sizing
	 * ----------------------------------------------------------------------------- */

	--font-size-0: 11px;
	--font-size-1: 12px;
	--font-size-2: 14px;
	--font-size-3: 16px;
	--font-size-4: 18px;
	--font-size-5: 20px;
	--font-size-6: 22px;
	--font-size-7: 24px;
	--font-size-8: 28px;
	--font-size-9: 32px;
	--font-size-10: 42px;

	/* -----------------------------------------------------------------------------
	 * Line Height
	 * ----------------------------------------------------------------------------- */

	--line-height-0: 1.38;
	--line-height-1: 1.42;
	--line-height-2: 1.5;
	--line-height-3: 1.62;
}
