@mixin Dashicons-Sort { content: "\f156"; }
@mixin Dashicons-Edit { content: "\f464"; }
@mixin Dashicons-Download { content: "\f316"; }
@mixin Dashicons-No { content: "\f158"; }
@mixin Dashicons-External { content: "\f504"; }
@mixin Dashicons-Move { content: "\f545"; }