$border-radius: 2px;

$color--grey: #82878c;
$color--light-grey: #ccd0d4;
$color--super-light-grey: #e2e4e7;
$color--zebra-grey: #f9f9f9;

$color--wp-blue: var(--wp-admin-theme-color);
$color--wp-blue-light: var(--wp-admin-theme-color-darker-20);

$color--green: #95bf3b;
$color--red: #a00;
$color--red-dark: #a02222;
