ol.form-fields {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

.chzn-container {
	display: block;
}

ul.ui-sortable li {
	cursor: move;

	&:hover {
		background: #FFFFD8;
	}
}

.ui-slider-handle {
	z-index: 0 !important;
}

form.pods-manage .pods-field {
	label {
		cursor: pointer;
		display: inline-block;
		padding: 0 0 4px 2px;
	}

	input {
		display: block;
		width: 100%;
	}
}

.pods-field textarea {
	display: block;
	width: 100%;
}

form.pods-manage {
	.pods-field {
		textarea {
			font-family: monospace;
			height: 100%;
			resize: none;
		}

		p.pods-field-comment {
			color: #AAA;
			font-size: .9em;
			font-style: italic;
			margin: 5px 0 0 2px !important;
		}
	}

	.pods-pick select {
		display: block;
		min-width: 125px;
		padding: 4px;
	}

	.pods-boolean {
		position: relative;
		cursor: pointer;

		input {
			display: block;
			height: auto;
			left: 2px;
			margin: 1px 7px 0 0;
			padding: 0;
			position: absolute;
			top: 10px;
			width: auto;
		}

		label {
			margin-left: 20px;
		}
	}

	.pods-file {
		label {
			padding-bottom: 8px;
		}

		input {
			display: none;
		}
	}

	ul.pods-files {
		background: #FBFBFB;
		border: 1px solid #DFDFDF;
		border-bottom: 0;
		border-radius: 3px;
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			background: #FFF;
			border-bottom: 1px solid #DFDFDF;
			margin: 0;
			position: relative;
			padding-bottom: 10px;

			span {
				display: inline-block;
				float: none;

				&.pods-file-reorder {
					left: 3px;
					position: absolute;
					top: 15px;
					width: 30px;
					img {
						cursor: move;
						display: block;
					}
				}

				&.pods-file-thumb {
					left: 35px;
					position: absolute;
					top: 2px;
					width: 45px;

					.pinkynail {
						float: none;
						margin: 0;
						max-width: 40px !important;
						max-height: 40px !important;
					}
				}

				&.pods-file-name {
					padding: 11px 35px 0 85px;
				}

				&.pods-file-remove {
					position: absolute;
					right: 10px;
					top: 10px;
					width: 25px;

					img {
						cursor: pointer;
						display: block;
					}
				}
			}
		}
	}
}

.plupload-queue {
	width: 250px;
}

.plupload-progress {
	position: relative;

	.progress-bar {
		position: absolute;
		height: 14px;
		width: 0%;
		background: #4D4D4D;
		margin-left: 10px;
	}

	.file-name {
		vertical-align: top;
	}
}

.pods-inline-files {
	.plupload-progress {
		width: 150px;
	}

	li {
		margin-top: 10px;

		.file-name {
			vertical-align: top !important;
		}

		.remove {
			cursor: pointer;
		}
	}
}

form.pods-manage {
	.pods-pick-values {
		background: #FFF;
		border: 1px solid #DFDFDF;
		border-radius: 3px;
		min-width: 125px;
		overflow: auto;
		padding: 2px 0;

		ul {
			overflow: auto;
		}

		li {
			border-bottom: 1px solid #F4F4F4;
			line-height: 1em;
			margin: 0;
			padding: 3px 6px 2px;

			&:nth-child(even) {
				background: #FCFCFC;
			}
		}

		label {
			padding-bottom: 3px;
			padding-top: 3px;
		}

		li {
			&:last-of-type {
				border-bottom: 0;
			}

			.pods-field {
				padding: 3px 0 2px;
			}

			.pods-boolean input {
				top: 5px;
			}

			&:hover {
				background: #FFFFD8;
			}
		}
	}

	select.pods-pick-multi {
		height: auto !important;
	}

	.pods-field {
		clear: both;
		padding: 10px 0;
	}
}

p.pods-add-file {
	clear: both;
	padding: 10px 0;
}

form.pods-manage .pods-textfield input, .pods-textarea textarea {
	width: 100%;
}

form.pods-manage {
	.pods-textfield input {
		padding: 5px 7px;
		color: #808080;
	}

	.pods-textarea textarea {
		padding: 5px 7px;
		color: #808080;
		resize: vertical;
	}

	.pods-textfield input:focus, .pods-textarea textarea:focus {
		border-color: #A0A0A0;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
		color: #000;
	}

	.pods-date input {
		min-width: 125px;
	}
}

.pods-number input {
	min-width: 125px;
}

form.pods-manage {
	.pods-date input.pods-date-field.hasDatepicker {
		background: #FFF url(../images/calendar16.png) no-repeat 5px 5px;
		cursor: pointer;
		padding-left: 25px !important;
		padding-top: 6px !important;
		width: 150px;
	}

	ul.ui-sortable li:hover {
		background: #FFFFD8;
		cursor: move;
	}

	.pods-slider-field {
		margin: 10px 0;
	}

	.pods-slider-field-display {
		padding: 10px 0;
	}
}

/**
 * Plupload queue
 */

table.plupload-queue {
	tr.hide {
		display: none;
	}

	td.progress {
		width: 175px;
		.progress-bar {
			width: 0%;
			height: 14px;
			background: black;
		}
	}
}

tr.form-field .pods-boolean input {
	width: 20%;
}