/*
	Simply a dumping ground for all mp6 styles I come across.
	They will probabyl all die in a fire later.
*/
.mp6 .pods-tab-wrapper .pods-tabs li a {
	padding-bottom: 4px;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius-topright: 0;
	border-top-right-radius: 0;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius-topleft: 0;
	border-top-left-radius: 0;
}
.mp6 .pods-form-ui-field-type-file {
	margin-top: 15px;
}
