.button.pods-color-select-button {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
	padding-left: 0;

	> .component-color-indicator {
		border: 0;
		display: block;
		height: 2.25em;
		margin-left: 0;
		margin-right: 0.5em;
		width: 2.5em;
	}
}

.pods-color-picker {
	padding: 0.5em;
	border: 1px solid #ccd0d4;
	max-width: 500px;
}
