/* Base Styling */
html{height:100%;}
body{
    height: 100%;
    margin: 0;
}

/* wp overides */
#wpcontent{margin-left: 146px;}
.folded #wpcontent{margin-left: 33px;}
#wpcontent {
  bottom: 40px;
  left: 0;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;
  height: auto;
}
#wpbody{height: 100%;}



/* Top Header */
.header-nav{    
    background: #ececec;
    display: block;
    height: 35px;
    overflow-y: hidden;
    font-size: 90%;
    obox-shadow: 0 -1px 1px rgba(0,0,0,0.05) inset;
    text-shadow: 0 1px 0 #fff;
}
.header-nav .pat-logo-icon{
    float: left;
    width: 42px;
    height: 35px;    
    background-size: 35px;    
}
.header-nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    height: 35px;
    background-size: 160px;
}
.header-nav ul li{
    display: inline-block;
}
.header-nav ul li.divider-vertical{
    background-color: #f3f3f3;
    border-left: 1px solid #e2e2e2;
    display: inline-block;
    height: 26px;
    margin:0 10px -10px;    
    padding: 0;
    width: 1px;    
}
.header-nav ul li>a:link, .header-nav ul li>a:visited{
    text-decoration: none;
    padding: 6px 10px 9px;
    display: block;
    line-height: 24px;
    color: #555;
}

.header-nav ul li a:hover{
    color: #fff;
    background: #555;
    text-shadow: none;
}
.header-nav ul li.active a:hover,.header-nav ul li.fbutton a:hover{
    color: #555;
}
.header-nav ul li.fbutton button.button {
  line-height: 14px;
  padding: 4px 8px;
}
.header-nav ul li.active a{    
    background: #fff;
    box-shadow: 2px 0 1px 0 rgba(0, 0, 0, 0.05);
}
.header-nav ul li span{
    display: inline-block;
    margin: 0 10px;
    color: #888;
}
.header-nav ul li span strong{
    color: #555;
}
/* main content pane */


/* Editor Wrapper */
#editor-form{height: 100%; min-width: 840px;}
.editor-revisions{
    bottom: 0;
    width:150px;
    position: absolute;   
    top: 35px;
    right: 50%;
    background: #f7f7f7;
    border-left: 1px solid #efefef;
}
.editor-pane {    
    bottom: 0;
    left: 42px;
    position: absolute;    
    top: 35px;
    right: 50%;
    /*margin-right: 150px;  for revisions panal later */
}
.help-pane {    
    bottom: 0;
    right: 0;
    position: absolute;
    top: 35px;    
    width: 50%;
    border-left: 1px solid #efefef;
    
}
.help-wrapper{
    padding: 10px;
}
/* Side Controls */
.side-controls {
    position: absolute;
    width: 42px;
    background: #ececec;
    top: 35px;
    bottom: 0;
    left: 0px;  
    padding: 0;
}
.side-controls ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.side-controls li{
    display: block;
    float: left;
    color: #fff;
    padding: 0;
    margin: 0;
}
.side-controls li a span{
    display: none;
}
.side-controls li a,
.side-controls li a:visited{
    background-image: url("../../../../../../../wp-admin/images/menu.png");
    background-repeat: no-repeat;
    
    
    display: block;
    width: 42px;
    height: 35px;
    opacity: 0.6;
}
.side-controls li a:hover{
    background-color: rgba(0,0,0,0.2);
    opacity: 1;
}
.side-controls li.active a{
    background-color: #fff;
    opacity: 1;
    box-shadow: 0 2px 3px -3px rgba(0, 0, 0, 0.2);
}


/* editor panels | custome highlight */
.cm-magic-at {color: #20B563;font-weight: bold;}
.cm-internal {color: #ff7040;}
.cm-include {color: #ff00aa;}
.cm-phptag{color: #20af20;font-weight: bold;}
.cm-command{color: #20afe0;font-weight: bold;}

.editor-label{
    background-color: #525C6C;
    color: #FFFFFF;
    display: block;
    font-size: 0.8em;
    height: 20px;
    padding-left: 5px;
}
.editor-code{
    height: 100%;
    overflow: hidden;
    display: none;
}
.editor-code label,.editor-help label {
    background: #ccc;
    border: 1px solid #555;
    border-radius: 4px;
    margin-top: 10px;
    opacity: 0.15;
    padding: 0 5px 1px;
    position: absolute;
    right: 20px;
}
.editor-setting{
    height: 100%;
    overflow: auto;
    display: none;
}
.editor-tab.active{
    display: block;
}

.editor-tab-content{
    padding: 10px;
    
}
.editor-tab-content h3 {
  border-bottom: 1px solid #EFEFEF;
  font-size: 1.3em;
  font-weight: 400;
  line-height: 1.4em;
  margin: 0 0 5px;
  padding: 0 0 5px;
}
.editor-tab-content h3 small{
    font-size: 0.7em;
    color: #999;
}

.editor-sub-tabs{
    list-style: none;
    padding: 0;
    margin: 0;
    height: 35px;
    background-size: 160px;
    
}
.editor-sub-tabs>li{
    display: inline-block;
    color: #fff; 
    font-size: .7em;
}


/*Tab Panes*/
#variablePane, #settingsPane {
    bottom: 0;
    left: 10px;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 100px;
}
#settingsPane {
    padding-top: 10px;
    top: 38px;
}

/*Code Mirror*/
.CodeMirror, .CodeMirror-scroll{
    height: 100%;
}


/* General Icons */
.control-settings-icon{
    /*background-image: url(img/pat-icon-settings.png);*/
    background-position: -232px -30px;
}
.active .control-settings-icon,
.control-settings-icon:hover{
    /*background-image: url(img/pat-icon-settings.png);*/
    background-position: -232px 2px;
}
.control-attributes-icon{
    /*background-image: url(img/pat-icon-attributes.png);*/
    background-position: -232px -30px;
}
.control-libraries-icon{
    /*background-image: url(img/pat-icon-libraries.png);*/
    background-position: -82px -30px;
}
.active .control-libraries-icon,
.control-libraries-icon:hover{
    /*background-image: url(img/pat-icon-libraries.png);*/
    background-position: -82px 2px;
}
.control-assets-icon{
    /*background-image: url(img/pat-icon-assets.png);*/
    background-position: -112px -30px;
}
.active .control-assets-icon,
.control-assets-icon:hover{
    /*background-image: url(img/pat-icon-assets.png);*/
    background-position: -112px 2px;
}


/* utils */
.confOption-textarea{
    float: left;
}