/* === PODS SLIDER FIELD === */
.pods-slider-field {
	max-width: 300px;
}

.pods-manage-field {

	.pods-slider-field {
		display: block;
		width: 65%;
		max-width: 300px;
	}
	// .pods-slider-field

}
// .pods-manage-field
