.tribe-common {
	/* -----------------------------------------------------------------------------
	 * Grid: Columns
	 * ----------------------------------------------------------------------------- */

	.tribe-common-g-col {
		min-width: 0;
		width: 100%;
	}
}
