.pods-currency-container {
	position: relative;
}

.pods-currency-sign {
	position: absolute;
	transform: translate(0, -50%);
	top: 50%;
	pointer-events: none;
	min-width: 10px;
	text-align: center;
	padding: 1px 5px;
	line-height: 28px;
}

.pods-currency-input[type="text"] {
	padding-left: 30px;
}

.pods-currency-field-slider-input {
	width: 100%;
}
