@import '../admin/edit-pod/edit-pod-variables';

.pods-help-tooltip__icon {
	cursor: pointer;

	&:focus {
		outline: 1px solid $color--wp-blue;
		outline-offset: 1px;
	}

	> svg {
		color: #cccccc;
		vertical-align: middle;
	}
}

.pods-help-tooltip {
	a {
		color: #ffffff;

		&:hover,
		&:focus {
			color: #ccd0d4;
		}
	}

	.dashicon {
		text-decoration: none;
	}
}
