.pods-help-tooltip {
	display: inline-block;
	position: relative;
	vertical-align: bottom;
	white-space: normal;
}

.pods-help-tooltip__icon {
	color: #cccccc;
	vertical-align: middle;
}

.pods-help-tooltip__tooltip {
	background-color:#000000;
	border-radius: 0 8px 8px 8px;
	box-shadow: 0 1px 8px #00000080;
	color:#ffffff;
	display: block;
	left: 15%;
	overflow: visible;
	padding: 15px;
	position: absolute;
	top: calc(100% + 4px);
	width: 300px;
	z-index: 99;

	> i {
		bottom: 100%;
		height: 12px;
		margin-left: -18px;
		overflow: hidden;
		position: absolute;
		width: 24px;
	}

	> i::before {
		content:'';
		position: absolute;
		width: 12px;
		height: 12px;
		left: 50%;
		transform: translate(-50%,50%) rotate(45deg);
		background-color:#000000;
		box-shadow: 0 1px 8px rgba(0,0,0,0.5);
	}

	> a {
		color: #ffffff;

		&:hover,
		&:focus {
			color: #ccd0d4;
		}
	}
}
