.tribe-editor__paragraph {
	font-family: 'Helvetica', 'Arial', 'sans-serif';
	line-height: 1.5;
	font-weight: normal;

	&--medium {
		/* 16pt */
		font-size: 1rem;
	}

	&--small {
		/* 14pt */
		font-size: 0.875rem;
	}

	a {
		color: #11A0D2;

		&:hover {
			text-decoration: none;
			color: #007BB4;
		}
	}
}
