.tribe-common {
	/* -----------------------------------------------------------------------------
	 *
	 * Component: Loader
	 *
	 *
	 * Example:
	 * <div class="tribe-events-view-loader__dots tribe-common-c-loader">
	 *    <div class="tribe-common-c-loader__dot tribe-common-c-loader__dot--first"></div>
	 *    <div class="tribe-common-c-loader__dot tribe-common-c-loader__dot--second"></div>
	 *    <div class="tribe-common-c-loader__dot tribe-common-c-loader__dot--third"></div>
	 * </div>
	 *
	 * ----------------------------------------------------------------------------- */

	.tribe-common-c-loader {
		display: flex;
		padding-top: calc(var(--spacer-11) * 3);

		@media (--viewport-medium) {
			padding-top: calc(var(--spacer-13) * 3);
		}
	}

	.tribe-common-c-loader__dot {
		background-color: var(--color-accent-primary-background);
		height: 15px;
		width: 15px;
		border-radius: 50%;

		&:not(:first-of-type) {
			margin-left: 8px;
		}
	}
}
