table.DMB_metabox td, table.DMB_metabox th {
    border-bottom: 1px solid #f5f5f5; /* Optional borders between fields */
}

table.DMB_metabox th {
    text-align: right;
    font-weight: bold;
}

table.DMB_metabox th label {
    margin-top: 6px;
    display: block;
}

p.DMB_metabox_description {
    color: #AAA;
    font-style: italic;
    margin: 2px 0 !important;
}

span.DMB_metabox_description {
    color: #AAA;
    font-style: italic;
}

input.DMB_text_small {
    width: 100px;
    margin-right: 15px;
}

input.DMB_text_money {
    width: 90px;
    margin-right: 15px;
}

input.DMB_text_medium {
    width: 230px;
    margin-right: 15px;
}

table.DMB_metabox input, table.DMB_metabox textarea {
    font-size: 11px;
    padding: 5px;
}

table.DMB_metabox li {
    font-size: 11px;
    float: left;
    width: 25%;
    margin: 0 10px;
}

table.DMB_metabox ul {
    padding-top: 5px;
}

table.DMB_metabox select {
    font-size: 11px;
    padding: 5px 10px;
}

table.DMB_metabox input:focus, table.DMB_metabox textarea:focus {
    background: #fffff8;
}

.DMB_metabox_title {
    margin: 0 0 5px 0;
    padding: 5px 0 0 0;
    font: italic 24px/35px Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
}

.DMB_radio_inline {
    padding: 4px 0 0 0;
}

.DMB_radio_inline_option {
    display: inline;
    padding-right: 18px;
}

table.DMB_metabox input[type="radio"] {
    margin-right: 3px;
}

table.DMB_metabox input[type="checkbox"] {
    margin-right: 6px;
}

table.DMB_metabox .mceLayout {
    border: 1px solid #DFDFDF !important;
}

table.DMB_metabox .meta_mce {
    width: 97%;
}

table.DMB_metabox .meta_mce textarea {
    width: 100%;
}

table.DMB_metabox .DMB_upload_status {
    margin: 10px 0 0 0;
}

table.DMB_metabox .DMB_upload_status .img_status {
    position: relative;
}

table.DMB_metabox .DMB_upload_status .img_status img {
    border: 1px solid #DFDFDF;
    background: #FAFAFA;
    max-width: 350px;
    padding: 5px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

table.DMB_metabox .DMB_upload_status .img_status .remove_file_button {
    text-indent: -9999px;
    background: url(<?php bloginfo('stylesheet_directory');
    ? > /lib/ metabox /images/ ico-delete . png);
    width: 16px;
    height: 16px;
}

table.DMB_metabox thead tr {
    border-bottom: 1px solid #ccc;
}