ul.pods-flex-list {
	background: #fff;
	margin: 0 0 5px 0;
	padding: 0;
	border-radius: 0;
	border: 1px solid #dfdfdf;
	overflow: hidden;
}

ul.pods-flex-list:empty {
	display: none;
}

ul.pods-flex-meta {
	display: block;
	overflow: hidden;
	zoom: 1;
	position: relative;
}

form.pods-form ul.pods-flex-list li.pods-flex-name {
	overflow: inherit;
}

ul.pods-flex-list li.pods-flex-col {
	float: left;
	margin: 0;
	padding: 0;
}

ul.pods-flex-list li.pods-flex-icon {
	width: 40px;
	margin: 0 5px;
	height: 32px;
	font-size: 0; /* for aligning image */
	line-height: 32px;
	text-align: center;
}

ul.pods-flex-list li.pods-flex-icon img {
	display: inline-block;
	vertical-align: middle;
	float: none;
	border-radius: 2px;
	margin: 0;
}

ul.pods-flex-list li.pods-flex-handle {
	width: 25px;
	height: 32px;
	float: left;
	cursor: move;
}

ul.pods-flex-list li.pods-flex-edit,
ul.pods-flex-list li.pods-flex-link,
ul.pods-flex-list li.pods-flex-download,
ul.pods-flex-list li.pods-flex-remove {
	width: 25px;
	height: 32px;
	float: right;
}

ul.pods-flex-list li.pods-flex-handle span,
ul.pods-flex-list li.pods-flex-edit a,
ul.pods-flex-list li.pods-flex-link a,
ul.pods-flex-list li.pods-flex-download a,
ul.pods-flex-list li.pods-flex-remove a {
	display: block;
	width: 25px;
	height: 32px;
	opacity: 0.40;
	text-decoration: none;
	color: #616161;
}

ul.pods-flex-list li.pods-flex-handle span:hover,
ul.pods-flex-list li.pods-flex-edit a:hover,
ul.pods-flex-list li.pods-flex-link a:hover,
ul.pods-flex-list li.pods-flex-download a:hover,
ul.pods-flex-list li.pods-flex-remove a:hover {
	opacity: 1;
}

ul.pods-flex-list li.pods-flex-handle span:focus,
ul.pods-flex-list li.pods-flex-edit a:focus,
ul.pods-flex-list li.pods-flex-link a:focus,
ul.pods-flex-list li.pods-flex-download a:focus,
ul.pods-flex-list li.pods-flex-remove a:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

ul.pods-flex-list li.pods-flex-handle span:before,
ul.pods-flex-list li.pods-flex-edit a:before,
ul.pods-flex-list li.pods-flex-link a:before,
ul.pods-flex-list li.pods-flex-download a:before,
ul.pods-flex-list li.pods-flex-remove a:before {
	margin-left: -20px;
	font: 400 20px/1 dashicons;
	line-height: 32px;
}

ul.pods-flex-list li.pods-flex-handle span:before {
	content: "\f333";
}

ul.pods-flex-list li.pods-flex-edit a:before {
	content: "\f464";
}

ul.pods-flex-list li.pods-flex-link a:before {
	content: "\f103";
}

ul.pods-flex-list li.pods-flex-download a:before {
	content: "\f316";
}

ul.pods-flex-list li.pods-flex-remove a:before {
	content: "\f158";
}

ul.pods-flex-list li.pods-flex-handle span,
ul.pods-flex-list li.pods-flex-edit a,
ul.pods-flex-list li.pods-flex-link a,
ul.pods-flex-list li.pods-flex-download a,
ul.pods-flex-list li.pods-flex-remove a {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

ul.pods-flex-list li.pods-flex-name {
	position: absolute;
	left: 80px;
	right: 105px; /* needed for action buttons */
	padding-top: 5px;
}

form.pods-form ul.pods-flex-list li.pods-flex-name {
	padding: 3px 0;
	overflow: visible;
}

form.pods-form ul.pods-flex-list li.pods-flex-name input[type=text] {
	width: 100% !important;
	font-size: 1em; /*1vh*/
	line-height: 1;
	padding: .3vh 10px;
	margin: 0;
}

li.pods-flex-item {
	display: block;
	padding: 8px 10px;
	margin: 0;
	border-bottom: 1px solid #efefef;
	border-radius: 3px;
}

li.pods-flex-item:hover {
	background: #fafafa;
}

li.pods-flex-item:last-of-type {
	border-bottom: 0;
}

ul.pods-flex-queue {
	margin: 14px 0 5px;
}

ul.pods-flex-queue li.pods-flex-name {
	position: relative;
	width: 73%;
	left: auto;
	right: auto;
	padding-top: 0;
}

ul.pods-flex-queue li.pods-flex-item li.pods-progress,
ul.pods-flex-queue li.pods-flex-item li.pods-progress div.progress-bar {
	border-radius: 10px;
	height: 18px;
}

ul.pods-flex-queue li.pods-flex-item li.pods-progress {
	position: relative;
	width: 23%;
	margin: 2px 2% 0 0;
	background-color: #e8e8e8;
}

ul.pods-flex-queue li.pods-flex-item li.pods-progress div.progress-bar {
	width: 0;
	background-color: #1073AA;
}

li.pods-flex-item:after,
ul.pods-flex-list li.pods-flex-item ul.pods-flex-meta:after,
ul.pods-flex-queue li.pods-flex-item:after,
ul.pods-flex-queue li.pods-flex-item ul.pods-flex-meta:after {
	content: "";
	display: table;
	clear: both;
}

/**
 * Tiles view
 */
.pods-field-template-tiles ul.pods-flex-list li.pods-flex-item {
	display: inline-block;
	width: 150px;
	border-bottom: 0;
	padding: 5px 10px 10px;
	vertical-align: top;
}

.pods-field-template-tiles ul.pods-flex-list li.pods-flex-icon {
	width: auto;
	float: none;
	margin: 32px 0 0;
	max-height: 150px;
	height: 150px;
	line-height: 150px;
	text-align: center;
}

.pods-field-template-tiles ul.pods-flex-list li.pods-flex-icon img {
	max-width: none;
	max-height: none;
	float: none;
	display: inline-block;
	vertical-align: middle;
	margin: 0;
}

form.pods-form .pods-field-template-tiles ul.pods-flex-list li.pods-flex-name {
	position: static;
	float: none;
}
form.pods-form .pods-field-template-tiles ul.pods-flex-list li.pods-flex-name input[type=text] {
	margin: 0;
	padding: .3vh 6px;
}

/*
 * @todo Probably remove this
 */
.pods-field-template-tiles ul.pods-flex-list li.pods-flex-handle,
.pods-field-template-tiles ul.pods-flex-list li.pods-flex-edit,
.pods-field-template-tiles ul.pods-flex-list li.pods-flex-link,
.pods-field-template-tiles ul.pods-flex-list li.pods-flex-download,
.pods-field-template-tiles ul.pods-flex-list li.pods-flex-remove {
	position: absolute;
	top: 0;
}

.pods-field-template-tiles ul.pods-flex-list li.pods-flex-handle {
	left: 0;
}

.pods-field-template-tiles ul.pods-flex-list li.pods-flex-edit {
	right: 75px;
}

.pods-field-template-tiles ul.pods-flex-list li.pods-flex-link {
	right: 50px;
}

.pods-field-template-tiles ul.pods-flex-list li.pods-flex-download {
	right: 25px;
}

.pods-field-template-tiles ul.pods-flex-list li.pods-flex-remove {
	right: 0;
}
/*
 * @todo until here
 */

ul.pods-flex-list li.pods-flex-actions {
	position: absolute;
	top: 0;
	right: 0;
}
.pods-field-template-tiles ul.pods-flex-list li.pods-flex-actions li.pods-flex-edit,
.pods-field-template-tiles ul.pods-flex-list li.pods-flex-actions li.pods-flex-link,
.pods-field-template-tiles ul.pods-flex-list li.pods-flex-actions li.pods-flex-download,
.pods-field-template-tiles ul.pods-flex-list li.pods-flex-actions li.pods-flex-remove {
	position: static;
	float: right;
}


a.pods-quick-add,
span.pods-quick-add {
	display: block;
	line-height: 36px;
	float: right;
	margin-right: 15px;
}

div.open a.pods-quick-add,
div.open span.pods-quick-add {
	display: none;
}

.pods-ui-field .pods-flex-add {
	margin-bottom: 10px;
}