/*form.pods tr.ui-sortable-helper {
    background: #ddd;
    opacity: 0.5;
}

form.pods tr.disabled {
    color: #dfdfdf;
}

form.pods tr.disabled a,
form.pods tr.disabled code {
    color: #dfdfdf;
}

form.pods tr.ui-sortable-helper th,
form.pods tr.ui-sortable-helper td {
    border: 0;
}

form.pods tr.ui-sortable-placeholder + tr th,
form.pods tr.ui-sortable-placeholder + tr td {
    border-top: 1px solid #dfdfdf;
}

ul.ui-sortable li {
    cursor: move;
}

ul.ui-sortable li:hover {
    background: #ffffd8;
}

form.pods .pods-checkbox input {
    display: block;
    float: left;
    margin-right: 7px;
}

form.pods .pods-checkbox label {
    display: block;
    float: left;
    padding-top: 1px;
}

form.pods .pods-pick-alt p {
    font-weight: 700;
    margin-bottom: 5px;
}

form.pods .pods-pick-alt .pods-pick-choices {
    margin-right: 25px;
    max-height: 100px;
    overflow: auto;
}

.pods-admin #poststuff #pods-pod-advanced-settings .hndle {
    cursor: default;
}

.pods-admin #poststuff #pods-pod-advanced-settings .inside fieldset {
    padding-bottom: 10px;
}

.pods-admin #poststuff #pods-pod-advanced-settings .inside .pods-helper {
    float: left;
    width: 25%;
}

.pods-admin #poststuff #pods-pod-advanced-settings .inside .pods-pick p {
    margin-bottom: 5px;
}

.pods-admin #poststuff #pods-pod-advanced-settings .inside .tabs-advanced-nav {
    margin-top: 20px;
}

.pods-admin #poststuff #titlediv #titlewrap input {
    margin: 0;
}

.pods-admin .pods-advanced-toggle {
    float: left;
    width: 40%;
}

.pods-admin .pods-location-condition-wrapper {
    overflow: hidden;
    padding: 2px 0 5px;
    zoom: 1;
}

.pods-admin .pods-location-condition-wrapper select {
    display: block;
    float: left;
}

.pods-admin .pods-location-condition-wrapper select.pods-location-condition {
    margin-right: 7px;
    width: 100px;
}

.pods-admin .pods-location-condition-wrapper select.pods-location-operator {
    margin-right: 7px;
    width: 55px;
}

.pods-admin .pods-location-condition-wrapper select.pods-location-limiter {
    width: 65px;
}

.pods-admin .pods-location-condition-wrapper span.pods-location-condition-delete {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAA3NCSVQICAjb4U/gAAAATlBMVEX///9/f39/f39/f39/f39/f39/f39/f39/f39/f39/f3/Dw8O4uLi1tbV/f3++vr6ysrK7u7uysrLd3d3a2tr////w8PDs7OzX19eZmZmiM/O2AAAAGnRSTlMAESIzRFVmd4iZqru7u7vMzN3d7u7//////5iXHkEAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAUdEVYdENyZWF0aW9uIFRpbWUAOC82LzExcXp9NQAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAAB9SURBVBiVbY9bFoMgDAUJ4RGjohU1dv8brQGk/eh85c7JycOYf2Agoog9hymLSJ4jtDxKZaFicJKH1asJuYt9sLcg+cIIRVxv5RJJrorzUM4m4s8MVoFzFxvpDBOXll/sdYsBWnft39hjvRX8wCkxPfk2Fp1zaKG/Z0Ap1QfqJArAT0KCEwAAAABJRU5ErkJggg%3D%3D) no-repeat 50% 50%;
    cursor: pointer;
    display: block;
    float: right;
    height: 25px;
    overflow: hidden;
    text-indent: -9999px;
    width: 16px;
}

p.pods-location-condition-add {
    clear: both;
    padding: 5px 0 0;
}

.pods-admin h3 {
    cursor: auto;
}

.pods-admin h2 a.cancel {
    font-size: 12px;
}

.pods-admin .postbox input,
.pods-admin .postbox textarea {
    padding: 5px;
}

.pods-admin .postbox input:focus,
.pods-admin .postbox textarea:focus {
    border-color: #d2d2d2;
    box-shadow: 0 0 6px rgba(0,
0,
0,
0.1);
}

.pods-admin tr.pods-group-fields td {
    padding: 0;
}

.pods-helpers {
    padding-bottom: 15px;
}

form.pods #pods-pod-advanced-settings .pods-field-option select {
    width: auto;
}

.pods-admin #poststuff,
.pods-admin #poststuff #pods-manage-settings,
.pods-admin #poststuff #pods-pod-advanced-settings .inside .pods-pick {
    padding-top: 10px;
}

.pods-admin .pods-add-field,
.pods-admin .pods-field-actions {
    clear: both;
    padding: 15px 0;
}

.pods-date input.pods-date-field.hasDatepicker {
    background: #fff url(../images/calendar16.png) no-repeat 5px 5px;
    cursor: pointer;
    padding-left: 25px !important;
    padding-top: 6px !important;
    width: 150px;
}

div#tables-left-col {
    float: left;
    width: 350px;
}

div#tables-right-col {
    float: right;
    width: 500px;
}

.filter-tables-input {
    margin-bottom: 5px;
    font-family: Georgia,
"Times New Roman",
"Bitstream Charter",
Times,
serif;
    font-style: italic;
}

ul.list-tables-left {
    float: left;
    width: 50%;
    height: 225px;
    overflow: auto;
}

ul.list-tables-right {
    height: 225px;
    overflow: auto;
}

#import-table-progress {
    margin: 4px 0 4px 0;
    padding: 5px 11px;
    font-size: 15px;
    text-align: right;
}

.italic {
    font-style: italic;
}

.has-subheading {
    margin-bottom: 0px !important;
}

tr.pod-column-row.enabled {
    opacity: 1.0;
}

tr.pod-column-row.disabled {
    opacity: .4;
}

td.enabled-status {
    cursor: pointer;
}

td.enabled-status.enabled {
    height: 16px;
    width: 18px;
    background: url(../images/red-x.png) 2px no-repeat;
}

td.enabled-status.disabled {
    background: url(../images/green-check.png) 2px no-repeat;
    height: 16px;
    width: 18px;
}

.pods-wizard-field {
    padding: 8px;
    background-color: #e9e9e9;
    margin-bottom: 15px;
}

.pods-wizard-field.complete {
    opacity: .5;
}

.pods-wizard-field label {
    font-size: 15px;
    float: left;
    width: 145px;
    font-weight: bold;
    margin-top: 4px;
    color: #0f0f0f;
}

.pods-wizard-field input,
select {
    float: left;
}

.pods-wizard-continue {
    padding: 10px 0 10px 0;
    float: right;
}

.pods-logo-bg-dim {
    position: absolute;
    top: 0px;
    left: 130px;
    opacity: .18;
}

.step-progress {
    float: left;
    margin: 3px 6px;
}

.pods-wizard-extend-option {
    display: none;
}

.italicized {
    font-style: italic;
}

li.invisible {
    display: none;
}*/

/*
 * Pods Admin
 */
.pods-admin .pods-leaf-watermark-right {
    position: fixed;
    width: 236px;
    height: 178px;
    bottom: 50px;
    right: 16px;
	z-index: -1;
}

.pods-admin .pods_floatmenu {
    width: 200px;
}

.pods-admin .pods-icon {
    display: inline-block;
    padding: 1px 0 0 5px;
    vertical-align: top;
}

.icon32#icon-pods {
    background: url(../images/icon32.png) no-repeat;
}

.pods-admin .waiting {
    display: none;
    vertical-align: middle;
}

.pods-admin button,
.pods-admin a.button,
.pods-admin a.button-secondary,
.pods-admin a.button-primary {
    vertical-align: middle;
}

/*
 * Pods Validate
 */
.pods-admin .pods-validate.pods-validate-error {
    border-color: #C89797;
    color: #790000;
    background-color: #FFDFDF;
}

.pods-admin .pods-validate-error-message {
    color: #790000;
    font-weight: bold;
    padding: 5px 10px 4px;
    display: inline-block;
}

/*
 * Pods Advanced
 */
.pods-admin .pods-advanced-toggle {
    font-size: 12px;
    text-decoration: underline;
}

.pods-admin .pods-advanced {
    display: none;
    width: 100%;
}

/*
 * Pods Wizard
 */
.pods-wizard p {
    font-size: 14px;
}

.pods-wizard #poststuff h1,
.pods-wizard h2,
.pods-wizard h3 {
    font-family: Georgia !important;
    margin-bottom: 0px !important;
}

/*
 * Pods Tabbed
 */
.pods-tabbed ul.pods-tabs:before {
    content: "";
    display: table;
}

.pods-tabbed ul.pods-tabs:after {
    content: "";
    display: table;
    clear: both;
}

.pods-tabbed ul.pods-tabs {
    zoom: 1;
    margin-bottom: 0;
}

.pods-tabbed ul.pods-tabs li.pods-tab {
    float: left;
    margin: 0;
}

.pods-tabbed ul.pods-tabs li.pods-tab a {
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-radius: 5px 5px 0 0;
    background: #e9e9e9;
    border: 1px solid #dfdfdf;
    border-radius: 5px 5px 0 0;
    display: block;
    float: left;
    font-size: 14px;
    margin-right: 5px;
    padding: 5px 10px;
    text-decoration: none;
}

.pods-tabbed ul.pods-tabs li.pods-tab a.selected {
    background: #FFF;
    border-bottom: 1px solid #FFF;
}

.pods-tabbed .pods-tab-group h4 {
    margin: 5px 10px;
}

.pods-tabbed .pods-tab-group .pods-tab {
    display: none;
    margin-bottom: 15px;
    margin-top: -1px;
    width: 99%;
    border: 1px solid #dfdfdf;
    border-bottom: 0;
}

/*
 * Pods Collapsible
 */
tbody.pods-manage-list div {
    overflow: hidden;
    zoom: 1;
}

tbody.pods-manage-list div.pods-manage-row-wrapper {
    max-width: 500px;
    display: none;
    width: 100%;
}

tbody.pods-manage-list tr.pods-manage-row-expanded {
    background: #f1f1f1;
}

tbody.pods-manage-list tr.pods-manage-row-expanded td.pods-manage-row-name,
tbody.pods-manage-list tr.pods-manage-row-expanded td.pods-manage-row-type,
tbody.pods-manage-list tr.pods-manage-row-expanded td.pods-manage-row-comment,
tbody.pods-manage-list tr.pods-manage-row-expanded span.pods-manage-row-id,
tbody.pods-manage-list tr.pods-manage-row-expanded div.row-actions,
tbody.pods-manage-list tr.pods-manage-row-expanded th.pods-manage-sort img {
    display: none;
}

tbody.pods-manage-list tr.pods-manage-row th.pods-manage-sort {
    cursor: move;
}
tbody.pods-manage-list tr.pods-manage-row th.pods-manage-sort img {
    vertical-align: top;
    margin-top: 1px;
}

tbody.pods-manage-list tr.pods-manage-row td > span.pods-manage-row-more {
    display: none;
    margin-left: 5px;
    color: #999;
}

tbody.pods-manage-list tr.pods-manage-row td:hover > span.pods-manage-row-more {
    display: inline;
}

tbody.pods-manage-list tr div.pods-manage-row-wrapper .pods-manage-row-actions {
    margin-bottom: 4px;
    overflow: visible;
}

tbody.pods-manage-list tr div.pods-manage-row-wrapper .pods-manage-row-delete {
    float: left;
    text-align: left;
    width: 40%;
}

tbody.pods-manage-list tr div.pods-manage-row-wrapper .pods-manage-row-save {
    float: right;
    text-align: right;
    width: 40%;
}

tbody.pods-manage-list tr.pods-field-new div.pods-manage-row-wrapper .pods-manage-row-delete a.submitdelete,
tbody.pods-manage-list tr div.pods-manage-row-wrapper .pods-manage-row-save a.pods-button-add,
tbody.pods-manage-list tr.pods-field-new div.pods-manage-row-wrapper .pods-manage-row-save a.pods-button-update {
    display: none;
}

tbody.pods-manage-list tr.pods-field-new div.pods-manage-row-wrapper .pods-manage-row-save a.pods-button-add {
    display: inline;
}

/*
 * Pods Toggled
 */
.pods-toggled {
    clear: both;
    margin-top: 30px;
}

.pods-toggled.pods-toggled-only {
    margin-top: 0;
}

.pods-toggled h3 {
    cursor: pointer;
}

.pods-no-toggle h3 {
    cursor: default;
}

tr.pods-toggled-on {
    background-color: #FFF;
}

tr.pods-toggled-off {
    background-color: #F4F4F4;
}

/*
 * Pods Dependency
 */
.pods-depends-on,
.pods-excludes-on {
    display: none;
}

/*
 * Pods Field Tabs
 */
.pods-tabbed div {
    overflow: hidden;
    zoom: 1;
}
.pods-tab.pods-basic-options {
    display: block;
}
.pods-tab#pods-advanced-labels {
    display: block;
}

/*
 * Pods Fields
 */
.pods-manage-field div {
    overflow: hidden;
    zoom: 1;
}

.pods-manage-field .pods-field-option,
.pods-manage-field .pods-field-option-group {
    background: #fcfcfc;
    border-bottom: 1px solid #dfdfdf;
    padding: 10px;
}

.pods-manage-field .pods-pick-values li,
.pods-manage-field .pods-field {
    position: relative;
}

.pods-manage-field .pods-field-option:nth-child(odd),
.pods-manage-field .pods-field-option-group:nth-child(odd) {
    background: #fff;
}

.pods-manage-field .pods-field-option label,
.pods-manage-field .pods-field-option-group .pods-field-option-group-label {
    padding-top: 4px;
    float: left;
    width: 30%;
    max-width: 150px;
}

.pods-manage-field .pods-field.pods-boolean label,
.pods-manage-field .pods-field-option .pods-pick-values label {
    padding-top: 0;
    float: none;
    width: auto;
    max-width: 100%;
}

.pods-manage-field .pods-field-option .pods-pick-values .pods-field.pods-boolean {
    float: none;
    margin-left: 0;
    width: auto;
    max-width: 100%;
}

.pods-manage-field .pods-field-option input[type="text"],
.pods-manage-field .pods-field-option select,
.pods-manage-field .pods-field-option textarea,
.pods-manage-field .pods-field-option .pods-field.pods-boolean,
.pods-manage-field .pods-pick-values {
    display: block;
    float: left;
    margin-left: 22px;
    width: 65%;
    max-width: 300px;
}

.pods-manage-field .pods-field-option-group p.pods-field-option-group-label {
    margin-top: 0;
}

.pods-manage-field .pods-field.pods-boolean {
    margin: 5px 0;
}

.pods-manage-field .pods-field.pods-boolean label,
.pods-manage-field .pods-pick-values label {
    padding-top: 0;
    display: block;
    margin-left: 20px;
}

.pods-manage-field input[type="checkbox"],
.pods-manage-field input[type="radio"] {
    position: absolute;
    left: 2px;
    margin: 1px 7px 0 0;
    display: inline;
    float: none;
    margin-right: 2px;
    margin-left: 0;
    vertical-align: middle;
}

.pods-manage-field .pods-pick-values ul {
    overflow: auto;
    margin: 5px 0;
}

.pods-manage-field .pods-pick-values ul .pods-field.pods-boolean {
    margin: 0;
}

.pods-manage-field .pods-pick-values.pods-zebra {
    width: 100%;
    max-width: 100%;
}

.pods-manage-field .pods-pick-values.pods-zebra div.pods-boolean {
    padding: 3px;
}

.pods-manage-field .pods-pick-values li.pods-zebra-odd {
    display: block;
    width: 50%;
    float: left;
    clear: both;
}

.pods-manage-field .pods-pick-values li.pods-zebra-even {
    display: block;
    width: 50%;
    float: left;
    clear: none;
}

.pods-manage-field .pods-field.pods-boolean:hover {
    background: #ffffd8;
}

.pods-manage-field input.pods-form-ui-no-label {
    position: relative;
}

/*
 * Pods Sluggable
 */
.pods-sluggable .pods-slug em {
    cursor: pointer;
}
.pods-sluggable a.cancel {
    font-size: 12px;
}

.pods-sluggable .pods-slug-edit {
    display: none;
}

/*
 * Pods Flexible
 */
tbody.pods-manage-list tr.flexible-row {
    display: none;
}

.pods-admin .pods-float-right {
    float: right;
}

.pods-admin p.pods-manage-row-add {
    text-align: right;
}

.pods-admin p.pods-manage-row-add.pods-float-right {
    margin-top: 36px;
}

/*
 * Pods UI
 */
div.row-actions.row-actions-toggle {
    display: block;
    visibility: visible;
}

.pods-field-option select:focus, .pods-field input[type=checkbox]:focus + label{
    background: #ffffcc;
}