ul.pods-flex-list {
	background: #fff;
	margin: 0 0 5px 0;
	padding: 0;
	border-radius: 0;
	border: 1px solid #dfdfdf;
}

ul.pods-flex-list:empty {
	display: none;
}

ul.pods-flex-meta {
	display: block;
	overflow: hidden;
	zoom: 1;
	position: relative;
}

form.pods-form ul.pods-flex-list li.pods-flex-name {
	overflow: inherit;
}

ul.pods-flex-list li.pods-flex-col {
	float: left;
	margin: 0;
	padding: 0;
}

ul.pods-flex-list li.pods-flex-handle {
	width: 30px;
	height: 25px;
	background: url(../images/handle.gif) -5px 75% no-repeat;
	cursor: move;
}

ul.pods-flex-list li.pods-flex-icon {
	width: 40px;
}

ul.pods-flex-list li.pods-flex-icon img {
	display: block;
	border-radius: 2px;
}

ul.pods-flex-list li.pods-flex-download,
ul.pods-flex-list li.pods-flex-remove {
	width: 25px;
	height: 32px;
	float: right;
}

ul.pods-flex-list li.pods-flex-download a,
ul.pods-flex-list li.pods-flex-remove a {
	display: block;
	width: 25px;
	height: 32px;
	opacity: 0.45;
	text-decoration: none;
	color: #616161;
}

ul.pods-flex-list li.pods-flex-download a:hover,
ul.pods-flex-list li.pods-flex-remove a:hover {
	opacity: 1;
}

ul.pods-flex-list li.pods-flex-download a:focus,
ul.pods-flex-list li.pods-flex-remove a:focus {
	box-shadow: none;
	-webkit-box-shadow: none;
}

ul.pods-flex-list li.pods-flex-download a:before,
ul.pods-flex-list li.pods-flex-remove a:before {
	margin-left: -20px;
	font: 400 20px/1 dashicons;
}

ul.pods-flex-list li.pods-flex-download a:before {
	content: "\f316";
	line-height: 36px;
}

ul.pods-flex-list li.pods-flex-remove a:before {
	content: "\f158";
	line-height: 36px;
}

ul.pods-flex-list li.pods-flex-handle,
ul.pods-flex-list li.pods-flex-download a,
ul.pods-flex-list li.pods-flex-remove a {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

ul.pods-flex-list li.pods-flex-name {
	position: absolute;
	left: 85px;
	right: 60px;
	padding-top: 5px;
}

form.pods-form ul.pods-flex-list li.pods-flex-name {
	padding-top: 3px;
	overflow: visible;
}

form.pods-form ul.pods-flex-list li.pods-flex-name input[type=text] {
	width: 100% !important;
	font-size: 1vh;
	line-height: 1;
	padding: .3vh 10px;
}

li.pods-flex-item {
	display: block;
	padding: 8px 10px;
	margin: 0;
	border-bottom: 1px solid #efefef;
	border-radius: 3px;
}

li.pods-flex-item:hover {
	background: #fafafa;
}

li.pods-flex-item:last-of-type {
	border-bottom: 0;
}

ul.pods-flex-queue {
	margin: 14px 0 5px;
}

ul.pods-flex-queue li.pods-flex-name {
	position: relative;
	width: 73%;
	left: auto;
	right: auto;
	padding-top: 0;
}

ul.pods-flex-queue li.pods-flex-item li.pods-progress,
ul.pods-flex-queue li.pods-flex-item li.pods-progress div.progress-bar {
	border-radius: 10px;
	height: 18px;
}

ul.pods-flex-queue li.pods-flex-item li.pods-progress {
	position: relative;
	width: 23%;
	margin: 2px 2% 0 0;
	background-color: #e8e8e8;
}

ul.pods-flex-queue li.pods-flex-item li.pods-progress div.progress-bar {
	width: 0;
	background-color: #1073AA;
}

li.pods-flex-item:after,
ul.pods-flex-list li.pods-flex-item ul.pods-flex-meta:after,
ul.pods-flex-queue li.pods-flex-item:after,
ul.pods-flex-queue li.pods-flex-item ul.pods-flex-meta:after {
	content: "";
	display: table;
	clear: both;
}

/**
 * Tiles view
 */
.pods-field-template-tiles ui.pods-flex-list li.pods-flex-item {
	display: inline-block;
	width: 160px;
	border-bottom: 0;
	padding: 5px 10px 10px;
}

.pods-field-template-tiles ui.pods-flex-list li.pods-flex-icon {
	width: auto;
	float: none;
}

.pods-field-template-tiles ui.pods-flex-list li.pods-flex-icon img {
	max-width: none;
	max-height: none;
	float: none;
}

form.pods-form .pods-field-template-tiles ui.pods-flex-list li.pods-flex-name {
	position: static;
	float: none;
}

.pods-field-template-tiles ui.pods-flex-list li.pods-flex-handle {
	margin-top: 5px;
}

.pods-field-template-tiles ui.pods-flex-list li.pods-flex-download,
.pods-field-template-tiles ui.pods-flex-list li.pods-flex-remove {
	position: absolute;
	top: 0;
	right: 0;
}

a.pods-quick-add,
span.pods-quick-add {
	display: block;
	line-height: 36px;
	float: right;
	margin-right: 15px;
}

div.open a.pods-quick-add,
div.open span.pods-quick-add {
	display: none;
}

.pods-ui-field .pods-flex-add {
	margin-bottom: 10px;
}