#wpadminbar, #adminmenuback, #adminmenuwrap, #preview-action, #wpfooter {
	display: none;
}

html.wp-toolbar {
	padding-top: 0 ;
}

#wpbody-content {
	padding-bottom: 0;
}

#wpcontent {
	padding: 0;
	margin: 0 1.25em;
}

.wrap {
	margin: 0;
}

/*body.edit-tags-php #col-right { display: none; }*/

/*body.edit-tags-php #col-left { width: 100%; }*/