#pods-wizard-box {
  width: 782px;
  color: #555555;
  margin: 20px;
  background: #E7E7E7

}
#pods-wizard-box.pods-wizard-steps-1 #pods-wizard-heading ul li {
  width: 780px;
}
#pods-wizard-box.pods-wizard-steps-2 #pods-wizard-heading ul li {
  width: 390px;
}
#pods-wizard-box.pods-wizard-steps-3 #pods-wizard-heading ul li {
  width: 260px;
}
#pods-wizard-box.pods-wizard-steps-4 #pods-wizard-heading ul li {
  width: 195px;
}
#pods-wizard-box.pods-wizard-steps-5 #pods-wizard-heading ul li {
  width: 156px;
}
#pods-wizard-box #pods-wizard-heading ul {
  margin: 0;
  padding: 0;
}
#pods-wizard-box #pods-wizard-heading ul li {
  list-style: none;
  display: block;
  float: left;
  height: 30px;
  padding-top: 5px;
  color: #ababab;
  margin-bottom: 0;
  font: 18px 'Garamond, Georgia';
  position: relative;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  background: #fff;
}
#pods-wizard-box #pods-wizard-heading ul li i {
  display: block;
  width: 11px;
  height: 35px;
  position: absolute;
  top: 0;
  left: 0;
}
#pods-wizard-box #pods-wizard-heading ul li span {
  display: inline-block;
  margin: 0 5px 0 20px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  background: #ababab;
  color: #f2f2f2;
  box-shadow: none;
  font-size: 20px;
  font-weight: bold;
  -webkit-border-top-left-radius: 30px;
  -webkit-border-top-right-radius: 30px;
  -webkit-border-bottom-right-radius: 30px;
  -webkit-border-bottom-left-radius: 30px;
  -moz-border-radius-topleft: 30px;
  -moz-border-radius-topright: 30px;
  -moz-border-radius-bottomright: 30px;
  -moz-border-radius-bottomleft: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}
#pods-wizard-box #pods-wizard-heading ul li.pods-wizard-menu-current {
  color: #fff;
  border-bottom: 1px solid #6e6e6e;
  border-top: 1px solid #808080;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  background: #000000;
}
#pods-wizard-box #pods-wizard-heading ul li.pods-wizard-menu-current span {
  text-shadow: none;
  background: #fff;
  color: #000000;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

}
#pods-wizard-box #pods-wizard-heading ul li.pods-wizard-menu-current + li > i {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 17px 0 17px 10px;
  border-color: transparent transparent transparent #000000;
  background: none;
}
#pods-wizard-box #pods-wizard-heading ul li.pods-wizard-menu-complete {
  color: #6f9472;
  border-bottom: 1px solid #bbddbd;
  background: #d4f4d6;
}
#pods-wizard-box #pods-wizard-heading ul li.pods-wizard-menu-complete + li > i {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 18px 0 18px 8px;
  border-color: transparent transparent transparent #d4f4d6;
  background:none
  
}
#pods-wizard-box #pods-wizard-heading ul li.pods-wizard-menu-complete + li.pods-wizard-menu-complete > i {
  border-left: 1px solid rgba(0, 0, 0, 0.46);
}
#pods-wizard-box #pods-wizard-heading ul li.pods-wizard-menu-complete span {
  background: #6f9472;
  color: #caebcc;
}
#pods-wizard-box #pods-wizard-heading ul li.pods-wizard-menu-complete em {
  display: block;
  top: 10px;
  right: 5px;
  background: url(../images/tick.png) no-repeat right center;
  width: 17px;
  height: 17px;
  position: absolute;
}
#pods-wizard-box #pods-wizard-heading ul li.pods-wizard-menu-complete:last-child em {
  right: 15px;
}
#pods-wizard-box #pods-wizard-heading ul li:first-child {
  border-left: 1px solid #dfdfdf;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#pods-wizard-box #pods-wizard-heading ul li:first-child i {
  background: none;
}
#pods-wizard-box #pods-wizard-heading ul li:last-child {
  border-right: 1px solid #dfdfdf;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#pods-wizard-box #pods-wizard-main {
  clear: both;
  overflow: auto;
}
#pods-wizard-box #pods-wizard-main p {
  font-size: 13px;
  line-height: 22px;
}
#pods-wizard-box #pods-wizard-main p.padded {
  padding: 0 20px 20px;
}
#pods-wizard-box #pods-wizard-main #pods-wizard-choices {
  margin: 15px 20px 25px 20px;
}
#pods-wizard-box #pods-wizard-main .pods-advanced-toggle {
  display: inline-block;
  text-decoration: underline;
  padding-left: 15px;
}
#pods-wizard-box #pods-wizard-main .pods-wizard-option-content {
  display: none;
}
#pods-wizard-box #pods-wizard-main .pods-wizard-option-content .pods-package-import-group .pods-field-option-group {
  padding-top: 0;
}
#pods-wizard-box #pods-wizard-main .pods-wizard-option-content .pods-package-import-group .pods-field-option-group p {
  margin-top: 0;
}
#pods-wizard-box #pods-wizard-main .stuffbox {
  margin: 15px 15px 0px 15px;
}
#pods-wizard-box #pods-wizard-main .stuffbox h3 {
  font-size: 15px;
  font-weight: normal;
  line-height: 1;
  padding: 7px 10px;
  font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
}
#pods-wizard-box #pods-wizard-main .stuffbox .inside {
  padding: 0;
}
#pods-wizard-box #pods-wizard-main .stuffbox .inside div.pods-wizard-content h3 {
  margin: 1.33em 20px;
  font-size: 1.35em;
}
#pods-wizard-box #pods-wizard-main .stuffbox .inside div.pods-wizard-content h4 {
  margin: 1.33em 20px;
  font-size: 1.2em;
}
#pods-wizard-box #pods-wizard-main .stuffbox .inside div.pods-wizard-content ul.normal {
  margin: 15px 20px;
  list-style: circle;
}
#pods-wizard-box #pods-wizard-main .stuffbox .inside div.pods-wizard-content ul.normal li {
  margin: 0 0 8px 30px;
  padding-left: 4px;
  line-height: 22px;
  font-size: 14px;
  list-style: circle;
}
#pods-wizard-box #pods-wizard-main .pods-wizard-panel {
  display: none;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  padding-bottom: 25px;
}
#pods-wizard-box #pods-wizard-main .pods-wizard-panel:first-child {
  display: block;
}
#pods-wizard-box #pods-wizard-main .pods-wizard-panel .button-primary,
#pods-wizard-box #pods-wizard-main .pods-wizard-panel .button-secondary {
  padding: 8px 15px;
  border-radius: 14px 14px 14px 14px;
}
#pods-wizard-box #pods-wizard-main .pods-wizard-panel .pods-wizard-content {
  background: #fff;
}
#pods-wizard-box #pods-wizard-main .pods-wizard-panel .pods-wizard-content.pods-wizard-grey {
  background: #f9f9f9;
}
#pods-wizard-box #pods-wizard-main .pods-wizard-panel .pods-wizard-content p {
  padding: 20px;
  margin-top: 0;
}
#pods-wizard-box #pods-wizard-main .pods-wizard-panel table {
  width: 100%;
}
#pods-wizard-box #pods-wizard-main .pods-wizard-panel table th,
#pods-wizard-box #pods-wizard-main .pods-wizard-panel table td {
  height: 47px;
}
#pods-wizard-box #pods-wizard-main .pods-wizard-panel table th {
  text-align: left;
  background: #f9f9f9;
  text-transform: uppercase;
  padding-left: 53px;
}
#pods-wizard-box #pods-wizard-main .pods-wizard-panel table tr td {
  font-size: 20px;
}
#pods-wizard-box #pods-wizard-main .pods-wizard-panel table tr td.pods-wizard-right {
  text-align: right;
}
#pods-wizard-box #pods-wizard-main .pods-wizard-panel table tr td.pods-wizard-name {
  padding-left: 20px;
}
#pods-wizard-box #pods-wizard-main .pods-wizard-panel table tr td.pods-wizard-name em {
  color: #777;
  font-style: normal;
  font-size: 14px;
}
#pods-wizard-box #pods-wizard-main .pods-wizard-panel table tr td.pods-wizard-name .pods-wizard-info {
  float: right;
  text-align: right;
  font-size: 12px;
  padding-right: 15px;
}
#pods-wizard-box #pods-wizard-main .pods-wizard-panel table tr td img {
  display: none;
}
#pods-wizard-box #pods-wizard-main .pods-wizard-panel table tr.pods-wizard-table-complete td {
  background: #e6f9e6;
  color: #6f9472;
  border-top: 1px solid #fff;
}
#pods-wizard-box #pods-wizard-main .pods-wizard-panel table tr.pods-wizard-table-complete td i {
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url(../images/tick.png);
}
#pods-wizard-box #pods-wizard-main .pods-wizard-panel table tr.pods-wizard-table-warning td {
  background: #ffffe0;
  border-top: 1px solid #e7dd5f;
  border-bottom: 1px solid #e7dd5f;
}
#pods-wizard-box #pods-wizard-main .pods-wizard-panel table tr.pods-wizard-table-warning td:first-child {
  border-left: 1px solid #e7dd5f;
}
#pods-wizard-box #pods-wizard-main .pods-wizard-panel table tr.pods-wizard-table-warning td:last-child {
  border-right: 1px solid #e7dd5f;
}
#pods-wizard-box #pods-wizard-main .pods-wizard-panel table tr.pods-wizard-table-error td {
  background: #ffebe8;
  border-top: 1px solid #cc0000;
  border-bottom: 1px solid #cc0000;
}
#pods-wizard-box #pods-wizard-main .pods-wizard-panel table tr.pods-wizard-table-error td:first-child {
  border-left: 1px solid #cc0000;
}
#pods-wizard-box #pods-wizard-main .pods-wizard-panel table tr.pods-wizard-table-error td:last-child {
  border-right: 1px solid #cc0000;
}
#pods-wizard-box #pods-wizard-main .pods-wizard-panel table tr.pods-wizard-table-active td {
  background: #fff4e0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #dfdfdf;
  color: #eba600;
}
#pods-wizard-box #pods-wizard-main .pods-wizard-panel table tr.pods-wizard-table-active td img {
  display: inline;
}
#pods-wizard-box #pods-wizard-main .pods-wizard-panel table tr.pods-wizard-table-pending td {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #dfdfdf;
  color: #ababab;
}
#pods-wizard-box #pods-wizard-main .pods-wizard-panel #pods-wizard-options {
  text-align: center;
}
#pods-wizard-box #pods-wizard-main .pods-wizard-panel #pods-wizard-options .pods-wizard-option {
  width: 290px;
  display: inline-block;
  vertical-align: top;
}
#pods-wizard-box #pods-wizard-main .pods-wizard-panel #pods-wizard-options .pods-wizard-option:first-child {
  margin-right: 40px;
}
#pods-wizard-box #pods-wizard-main .pods-wizard-panel #pods-wizard-options .pods-wizard-option a {
  height: 140px;
  padding-top: 10px;
  display: block;
  background: #f9f9f9;
  position: relative;
  text-decoration: none;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}
#pods-wizard-box #pods-wizard-main .pods-wizard-panel #pods-wizard-options .pods-wizard-option a h2 {
  color: #21759B;
  font-weight: bold;
  font-size: 1.5em;
  padding-right: 0;
}
#pods-wizard-box #pods-wizard-main .pods-wizard-panel #pods-wizard-options .pods-wizard-option a p {
  font-style: normal;
  font-size: 14px;
  color: #555555;
  margin: 7px;
  line-height: 17px;
}
#pods-wizard-box #pods-wizard-main .pods-wizard-panel #pods-wizard-options .pods-wizard-option a:hover {
  background: #fff;
}
#pods-wizard-box #pods-wizard-main .pods-wizard-panel #pods-wizard-options .pods-wizard-option a:hover h2 {
  color: #D54E21;
}
#pods-wizard-box #pods-wizard-main .pods-wizard-panel #pods-wizard-options .pods-wizard-option a span {
  display: none;
}
#pods-wizard-box #pods-wizard-main .pods-wizard-panel #pods-wizard-options .pods-wizard-option a.pods-wizard-option-active {
  background: #feffe0;
  color: #D54E21;
}
#pods-wizard-box #pods-wizard-main .pods-wizard-panel #pods-wizard-options .pods-wizard-option a.pods-wizard-option-active span {
  width: 290px;
  height: 30px;
  background: #D54E21;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  color: #fff;
  font: 13px/30px bold Garamond, Georgia;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
#pods-wizard-box #pods-wizard-main .pods-wizard-panel #pods-wizard-options .pods-wizard-option a:visited p {
  color: #555555;
}
#pods-wizard-box #pods-wizard-main .pods-wizard-panel #pods-wizard-options .pods-wizard-option p {
  font-size: 12px;
  line-height: 17px;
  font-style: italic;
}
#pods-wizard-box #pods-wizard-main .pods-wizard-panel #pods-wizard-options .pods-wizard-option p em {
  margin: 0;
  padding: 0;
}
#pods-wizard-box #pods-wizard-actions {
  height: 35px;
  border: 1px solid #dfdfdf;
  position: relative;
  clear: both;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  background: #f3f3f3;

}
#pods-wizard-box #pods-wizard-actions .button {
  display: block;
  height: 35px;
  width: 110px;
  position: absolute;
  top: 0;
  line-height: 35px;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  padding: 0;
  border: none !important;
}
#pods-wizard-box #pods-wizard-actions .button.button-primary {
  right: 0;
  color: #fff;
  background: #278ab8;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 8px;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 0;
}
#pods-wizard-box #pods-wizard-actions .button.button-primary:hover {
  background: #22789f;
}
#pods-wizard-box #pods-wizard-actions .button.button-secondary {
  left: 0;
  color: black;
  background: #f7f7f7;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 8px;
}
#pods-wizard-box #pods-wizard-actions .button.button-secondary:hover {
    border: 1px solid #c9c9c9 !important;

}
#pods-wizard-box #pods-wizard-actions #pods-wizard-finished {
  display: none;
  height: 35px;
  line-height: 35px;
  text-align: center;
  padding-right: 142px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  background: #777777;
  background: -webkit-gradient(linear, left top, left bottom, from(#808080), to(#6e6e6e));
  background: -moz-linear-gradient(center top, #808080 0%, #6e6e6e 100%);
  background: -moz-gradient(center top, #808080 0%, #6e6e6e 100%);
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
#pods-wizard-box #pods-wizard-actions #pods-wizard-next.finished {
  width: 150px;
}
#pods-wizard-box.pods-wizard-hide-first #pods-wizard-main {
  border-bottom: 1px solid #dfdfdf;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
#pods-wizard-box.pods-wizard-hide-first #pods-wizard-actions {
  display: none;
}
