/* .tribe-common { */
	/* -----------------------------------------------------------------------------
	 *
	 * Component: Image
	 *
	 * Example (Regular):
	 * <img src="#" alt="" class="tribe-common-c-image" />
	 *
	 * Example (Background):
	 * <div class="tribe-common-c-image tribe-common-c-image--bg">
	 *   <div class="tribe-common-c-image__bg"></div>
	 * </div>
	 *
	 * ----------------------------------------------------------------------------- */
/* } */
