@import '../edit-pod-variables';

.pods-edit-pod-manage-field {
	zoom: 1;
}

.pods-edit-pod-manage-field .pods-field-option,
.pods-edit-pod-manage-field .pods-field-option-group {
	background: #fcfcfc;
	border-bottom: 1px solid #CCD0D4;
	box-sizing: border-box;
	display: flex;
	flex-flow: row nowrap;
	padding: 10px;

	> * {
		box-sizing: border-box;
	}
}

.pods-edit-pod-manage-field .pods-pick-values li,
.pods-edit-pod-manage-field .pods-field {
	position: relative;
}

.pods-edit-pod-manage-field .pods-pick-values li {
	margin: 0;
}

.pods-edit-pod-manage-field .pods-field-option:nth-child(odd),
.pods-edit-pod-manage-field .pods-field-option-group:nth-child(odd) {
	background: #fff;
}

.pods-edit-pod-manage-field .pods-field-option .pods-field-label,
.pods-edit-pod-manage-field .pods-field-option-group .pods-field-option-group-label {
	width: 30%;
	flex: 0 0 30%;
	padding-right: 2%;
	padding-top: 4px;
}

.pods-edit-pod-manage-field .pods-field-option .pods-field-option__field,
.pods-edit-pod-manage-field .pods-field-option-group .pods-field-option__field {
	width: 70%;
	flex: 0 0 70%;
}

.pods-edit-pod-manage-field .pods-field-option .pods-pick-values .pods-field.pods-boolean {
	float: none;
	margin-left: 0;
	width: auto;
	max-width: 100%;
}

.pods-edit-pod-manage-field label + div .pods-pick-values {
	/* Match width to input fields */
	width: 96%;
}

.pods-edit-pod-manage-field .pods-field-option .pods-form-ui-field-type-wysiwyg textarea {
	max-width: 100%;
}

.pods-edit-pod-manage-field .pods-field-option .pods-form-ui-field-type-file {
	padding-bottom: 8px;
}

.pods-edit-pod-manage-field .pods-field-option .pods-form-ui-field-type-file table.form-table tr.form-field td {
	padding: 0;
	border-bottom: none;
}

.pods-edit-pod-manage-field .pods-field-option .pods-form-ui-field-type-file table.form-table,
.pods-edit-pod-manage-field .pods-field-option-group p.pods-field-option-group-label {
	margin-top: 0;
}

.pods-edit-pod-manage-field .pods-pick-values input[type="checkbox"],
.pods-edit-pod-manage-field .pods-pick-values input[type="radio"] {
	margin: 6px;
}

.pods-edit-pod-manage-field .pods-pick-values ul {
	overflow: auto;
	margin: 5px 0;
}

.pods-edit-pod-manage-field .pods-pick-values ul .pods-field.pods-boolean,
.pods-edit-pod-manage-field .pods-pick-values ul ul {
	margin: 0;
}

.pods-edit-pod-manage-field .pods-pick-values.pods-zebra {
	width: 100%;
	max-width: 100%;
}

.pods-edit-pod-manage-field .pods-pick-values.pods-zebra li {
	margin-bottom: 4px;
}

.pods-edit-pod-manage-field .pods-pick-values.pods-zebra div.pods-boolean input {
	margin: 4px;
}

.pods-edit-pod-manage-field .pods-pick-values.pods-zebra div.pods-boolean label {
	padding: 5px 0;
}

.pods-edit-pod-manage-field .pods-pick-values li.pods-zebra-odd {
	display: block;
	width: 50%;
	float: left;
	clear: both;
}

.pods-edit-pod-manage-field .pods-pick-values li.pods-zebra-even {
	display: block;
	width: 50%;
	float: left;
	clear: none;
}

.pods-edit-pod-manage-field .pods-pick-values .regular-text {
	max-width: 95%;
}

.pods-edit-pod-manage-field li > .pods-field.pods-boolean:hover {
	background: #f5f5f5;
}

.pods-edit-pod-manage-field input.pods-form-ui-no-label {
	position: relative;
}

@media screen and (max-width: 782px) {
	.pods-edit-pod-manage-field .pods-field-option label,
	.pods-edit-pod-manage-field .pods-field-option-group .pods-field-option-group-label {
		float: none;
		display: block;
		width: 100%;
		max-width: none;
		padding-bottom: 4px;
		margin-bottom: 0;
		line-height: 22px;
	}

	.pods-edit-pod-manage-field .pods-field-option input[type="text"],
	.pods-edit-pod-manage-field .pods-field-option textarea,
	.pods-edit-pod-manage-field .pods-field-option .pods-field.pods-boolean,
	.pods-edit-pod-manage-field .pods-pick-values,
	.pods-edit-pod-manage-field .pods-field-option .pods-form-ui-field-type-file,
	.pods-edit-pod-manage-field .pods-slider-field {
		display: block;
		margin: 0;
		width: 100%;
		max-width: none;
	}

	.pods-edit-pod-manage-field .pods-field.pods-boolean label,
	.pods-edit-pod-manage-field .pods-field-option .pods-pick-values label {
		line-height: 22px;
		font-size: 14px;
		margin-left: 34px;
	}

	.pods-edit-pod-manage-field .pods-pick-values li.pods-zebra-odd,
	.pods-edit-pod-manage-field .pods-pick-values li.pods-zebra-even {
		display: block;
		width: 100%;
		float: none;
		clear: both;
	}
}
