@import '../edit-pod-variables';

.opacity-ghost {
	transition: all .8s ease;
	opacity: 0.4;
	box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.3);
	cursor: ns-resize;
}

.pods-field-group-wrapper {
	margin-bottom: 10px;
	border: 1px solid $color--light-grey;
	background-color: #fff;
	position: relative;
	transition: border 200ms ease-in-out;
}

.pods-field-group-wrapper--unsaved  {
	border-left-color: #95BF3B;
	border-left-width: 5px;
}

.pods-field-group_title {
	padding: 0.5em;
	display: flex;
	justify-content: space-between;
	color: #333;
	align-items: center;
}

.pods-field-group_title > button {
	flex-shrink: 0;
}

.pods-field-group_name {
	cursor: move;
	margin-right: auto;
	padding: 0.5em;
	user-select: none;
}

.pods-field-group_handle {
	display: inline-block;
	padding-right: 13px;
	vertical-align: middle;
}

.pods-button-group_container {
	display: flex;
	width: 100%;
	justify-content: flex-end;
	margin-top: 10px;
	margin-bottom: 10px;
}

.pods-button-group_add-new {
	text-align: center;
	border: 2px dashed $color--light-grey;
	background: none;
	width: 100%;
	padding: .7em 1em;
	transition: 300ms ease background-color;
}

.pods-button-group_add-new:focus,
.pods-button-group_add-new:hover {
	background-color: $color--light-grey;
	cursor: pointer;
}

.pods-field-group_toggle {
	cursor: pointer;
}

.pods-button-group_item {
	padding: 10px 20px;
	color: #333;
	text-decoration: none;
	transition: 300ms ease background-color;

	&:hover {
		background-color: #e0e0e0;
	}

	&:last-child {
		background-color: #94bf3a;
		color: white;

		&:hover {
			background-color: #7c9e33;
		}
	}
}

//
// Group Settings Modal
//
.pods-field-group_settings {
	width: 100%;
	height: 100%;

	&--visible {
		display: block;
	}
}

.pods-field-group_settings .components-modal__content {
	padding: 0;
}

.pods-field-group_settings .components-modal__header {
	padding: 0 36px;
	margin-bottom: 0;
}

.pods-field-group_settings-container {
	width: 100%;
	margin: 0 auto;
	background-color: #eeeeee;
	position: absolute;
	height: calc(100% - 56px);
}

.pods-field-group_settings-options {
	display: flex;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.pods-field-group_heading {
	border-bottom: 1px solid #e5e5e5;
	padding: 10px;
	font-weight: bolder;
	font-size: 16px;
}

.pods-field-group_settings-sidebar {
	width: 35%;
	background-color: #f3f3f3;
	position: absolute;
	left: 0;
	height: 100%;

	&-item {
		padding: 10px;
		border-bottom: 1px solid #c6cbd0;
		cursor: pointer;
		transition: 300ms ease background-color;

		&:last-child {
			border-bottom: none;
		}

		&--active {
			background-color: #eee;
			font-weight: bolder;
			margin-right: -2px;
		}

		&:hover {
			background-color: #eee;
		}
	}
}

.pods-field-group_settings-main,
.pods-field-group_settings-advanced,
.pods-field-group_settings-other {
	width: 65%;
	padding: 20px;
	position: absolute;
	left: 35%;
}

.pods-input-container {
	display: flex;
	align-items: center;
	padding-bottom: 20px;

	&:last-child {
		padding-bottom: 0;
	}
}

.pods-label_text {
	width: 30%;
	padding-right: 20px;
	font-weight: bold;
}

.pods-input {
	width: 70%;
}
