@import '../edit-pod-variables';

.pods-field_controls-container {
	opacity: 0;
}

.pods-field-list {
	margin: 0 2em 2em;
	overflow: visible !important; // TODO: this is being overridden by old 2.x styles
	display: flex;
	flex-flow: column nowrap;
}

.pods-field-list__empty {
	padding: 2em 0;
}

.pods-field-list__empty--dropping {
	background: $color--light-grey;
}

.pods-field-list__empty-message {
	margin: 0;
	text-align: right;
}

.pods-field-group_add_field_link {
	align-self: flex-end;
}
