@import './edit-pod-variables';

.pods-manage-fields {
	margin: 0 2em 2em;
	overflow: visible !important; // TODO: this is being overridden by old 2.x styles
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-end;
}

.pods-manage-fields.no-fields {
	font-weight: bold;
	padding: 1em;
	align-items: center;
	justify-content: center;
}

.pods-field_handle {
	width: auto;
	opacity: .2;
}

.pods-field_required {
	color: red;
}

.pods-field_label {
	padding-left: 0;
}

.pods-field-group_name:hover > .pods-field-group_name__id {
	opacity: 1;
}

.pods-field_id,
.pods-field-group_name__id {
	font-size: 13px;
	color: #999;
	display: inline;
	opacity: 0;
	height: 0;
	transition: 200ms ease opacity;
}

.pods-field_label,
.pods-field_name {
	color: #0073aa;

	&:hover {
		cursor: pointer;
		color: #00a0d2;
	}
}


.pods-field_type,
.pods-field_wrapper-label_type {
	width: 60px;
}

.pods-field_wrapper-labels .pods-field_handle {
	cursor: inherit;
}

.pods-field_wrapper-labels {
	display: flex;
	width: 100%;
	margin-top: .3em;

	& + .pods-field_wrapper-items {
		margin-top: .7em;
		width: 100%;
	}
}

.pods-field_wrapper-label,
.pods-field_label {
	width: 50%;
}

.pods-field_wrapper-label:first-child {
	margin-left: 40px;
}

.pods-field_name,
.pods-field_type,
.pods-field_wrapper-label_name,
.pods-field_wrapper-label_type {
	width: 25%;
}

.pods-field_wrapper-label-items {
	width: 172px;
	padding: 1em 1em 1em 0;
	justify-content: flex-start;
	width: 25%;

	&:first-child {
		margin-left: 40px;
		width: 50%;
	}
}

.pods-field_wrapper-items {
	border: 1px solid $color--light-grey;
	border-radius: $border-radius;
	margin: 1em 0;
}

.pods-field_wrapper:nth-child(even) {
	background-color: $color--super-light-grey;
}
