name: 'Auto Build'
on:
  workflow_dispatch:
  pull_request:
    paths:
      - 'ui/js/blocks/src/**'
      - 'ui/js/dfv/src/**'
      - 'ui/styles/src/**'
      - 'package.json'
      - 'webpack.*.js'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '16.13.2'
      - name: Get npm cache directory
        id: npm-cache-dir
        shell: bash
        run: echo "dir=$(npm config get cache)" >> ${GITHUB_OUTPUT}
      - uses: actions/cache@v3
        id: npm-cache # use this to check for `cache-hit` ==> if: steps.npm-cache.outputs.cache-hit != 'true'
        with:
          path: ${{ steps.npm-cache-dir.outputs.dir }}
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Install dependencies
        run: npm install
      - name: Maybe build Pods Blocks JS API, Pods DFV, and styles assets
      - name: Run wporg-update-versions for package.json version change
        uses: ./.github/actions/wporg-update-versions
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          file_pattern: ui/js/blocks/pods-blocks-api.min.* ui/js/dfv/pods-dfv.min.* ui/styles/dist/*.css
          commit_message: Auto rebuild assets
