name: 'PHP Compatibility'
on:
  pull_request:
    paths:
      - 'classes/**.php'
      - 'components/**.php'
      - 'includes/**.php'
      - 'src/**.php'
      - 'sql/**.php'
      - 'ui/**.php'
      - '*.php'
      - 'composer.json'
      - '.github/workflows/php-compatibility.yml'
jobs:
  phpcs-compatibility:
    uses: pods-framework/.github/.github/workflows/php-compatibility.yml@main
    secrets:
      GH_BOT_TOKEN: ${{ secrets.GH_BOT_TOKEN }}
