.pods-field-option{
	overflow: hidden;
	clear: both;
	display: block;
	padding: 10px 10px 10px 10px;
	border-bottom: 1px solid #cccccc;
	min-height: 26px;

	&:hover{background:#F8F8F8;}

	&:nth-child(even){
		background:#FCFCFC;
		&:hover{background:#F8F8F8;}
	} // &:nth-child(even)

	&:first-child{margin-top:-5px;}

	label{
		width: 30%;
		float: left;
		font-size: 14px !important;
		color: black;
		margin-top: 7px;
	} // label

	input{
		font-size: 14px;
		width: 65%;
		float: right;
		border-color: #c9c9c9;
	} // input

	.pods-checkbox-wrapper{
		float:left; margin:8px 5px 0 30px;

		.pods-single-checkbox{
			float:left; margin-bottom:5px;

			// @todo this could probably be refactored to leverage sass better some sort of mixin that deals with columns
			&.pods-checkbox-column-one{width:100%;}
			&.pods-checkbox-column-two{width:50%;}
			&.pods-checkbox-column-three{width:33%;}
			&.pods-checkbox-column-four{width:25%;}
		} // .pods-single-checkbox

		input[type="checkbox"]{
			width: 10px;
			float: left;
			margin: 8px 5px 0 0;
		} // input[type="checkbox"]

	} // .pods-checkbox-wrapper

	select{
		width: 65%;
		float: right;
		font-size: 13px;
	} // select

	small{
		font-size: 12px;
		margin-top: 6px;
		display: inline-block;
	} //small

} // pods-field-option
