.pods-tab-wrapper{
	min-width:300px; max-width:600px;

	.pods-tabs{
		padding:3px 0;
		margin-left:0; margin-bottom:0;
		border-bottom: 1px solid #CCC;
		font-size: 15px;

		li{
			list-style: none;
			margin: 0;
			display: inline;

			&:first-child a{margin-left:0;}

			a{
				@include border-top-round(3px);
				padding: 6px 10px 3px;
				margin-left: 3px;
				border: 1px solid #CCC;
				border-bottom: none;
				background: #F5F5F5;
				text-decoration: none;
				color: #AAA;

				&:hover{
					background: #eee;
					color: #D54E21;
				} // &:hover
			} // a

			&.selected{

				a{
					color: #464646;
					background: white;
					border-bottom: 1px solid white;
					&:hover{
						background: #eee;
						color: #D54E21;
					} // &:hover
				} // a

			} // &.selected

			&:active{

				a{
					background: #CCC;
					color: #FFF;
					border-color: #AAA;
					border-bottom: 0 none;
				} // a

			} // &:active

		} // li

	} // .pods-tabs

	.pods-tab-content-wrapper{
		border: 1px solid #cccccc;
		border-top: 0 none; border-bottom: 0 none;
		background: white;
		padding-top: 5px;
		font-size: 16px;
		overflow: hidden;

		h4{
			background: #dbdbdb;
			color: #333;
			padding: 15px 6px 8px 9px;
			margin: 0;
			letter-spacing: .05em;
			font-size: 15px;
		} // h4

	} // .pods-tab-content-wrapper

} // .pods-tab-wrapper
